<div block="direction-activity">
  <div elem="section">
    <div elem="head">
      <h2 elem="title">
        Направления <br> деятельности
      </h2>
    </div>
    <div elem="direction">
      <div elem="container" class="contain">
        <div block="direction-block">
          <div elem="body">
            <div elem="head">
              <a elem="other" href="#"></a>
              <h3>Авиация</h3>
            </div>
            <div elem="img">
              <img src="img/direction-block-img.png" alt="">
            </div>
            <div elem="desc">
              Повышение качества жизни людей через создание высокотехнологичных «умных» продуктов
            </div>
            <div elem="links">
              <a href="#">направления</a>
              <a href="#">структура</a>
              <a href="#">продукты и проекты</a>
              <a href="#">деятельность</a>
            </div>
            
          </div>
        </div><!-- direction-block -->
      </div>
      {% include "news-block.html" %}
      <a elem="more" href="#">Подробнее о направлении</a>
    </div>
    <div elem="direction" mods="transport">
      <div elem="container" class="contain">
        <div block="direction-block">
          <div elem="body">
            <div elem="head">
              <a elem="other" href="#"></a>
              <h3>Транспорт</h3>
            </div>
            <div elem="img">
              <img src="img/direction-block-img2.png" alt="">
            </div>
            <div elem="desc">
              Повышение качества жизни людей через создание высокотехнологичных «умных» продуктов
            </div>
            <div elem="links">
              <a href="#">направления</a>
              <a href="#">структура</a>
              <a href="#">продукты и проекты</a>
              <a href="#">деятельность</a>
            </div>
            
          </div>
        </div><!-- direction-block -->
      </div>
      {% include "news-block.html" %}
      <a elem="more" href="#">Подробнее о направлении</a>
    </div>
  </div>
</div><!-- news-block -->