<div block="direction-activity">
  <div elem="section">
    <div elem="head">
      <h2 elem="title">
        Направления <br> деятельности
      </h2>
    </div>
    <div elem="inner">
      <div elem="direction-head">
        <div block="direction-name">
          <div elem="section" class="contain">
            <a elem="other" href="#" class="js-direction-other-name"></a>
            <h3>Авиация</h3>
            <div elem="list" class="js-direction-list">
              <ul>
                <li class="_is-active"><a href="#aviation_direction"><span>Авиация</span></a></li>
                <li><a href="#transport_direction"><span>Транспорт</span></a></li>
                <li><a href="#it_direction"><span>ИТ и Телеком</span></a></li>
                <li><a href="#medicine_direction"><span>Здравоохранение</span></a></li>
                <li><a href="#ecology_direction"><span>Экология</span></a></li>
                <li><a href="#hr_direction"><span>HR</span></a></li>
              </ul>
            </div>
          </div>
        </div><!-- direction-name -->
      </div>
      <div elem="direction" id="aviation_direction"  style="background-image: url('img/direction-block-bg.jpg');">
        <div elem="container">
          <div block="direction-block">
            <div elem="section" class="contain">
              <div elem="body">
                <div elem="img-mobile"><img src="img/direction-block-bg.jpg" alt=""></div>
                <div elem="desc">
                  Повышение качества жизни людей через создание высокотехнологичных «умных» продуктов
                </div>
                <div elem="links">
                  <a href="#">направления</a>
                  <a href="#">структура</a>
                  <a href="#">продукты и проекты</a>
                  <a href="#">деятельность</a>
                </div>
              </div>
            </div>
          </div><!-- direction-block -->
        </div>
        {% include "news-block.html" %}
        <a elem="more" href="#">Подробнее о направлении</a>
      </div>
      <div elem="direction" id="transport_direction" style="background-image: url('img/direction-block-bg2.jpg');">
        <div elem="container">
          <div block="direction-block">
            <div elem="section" class="contain">
              <div elem="body">
                <div elem="img-mobile"><img src="img/direction-block-bg2.jpg" alt=""></div>
                <div elem="desc">
                  Повышение качества жизни людей через создание высокотехнологичных «умных» продуктов
                </div>
                <div elem="links">
                  <a href="#">направления</a>
                  <a href="#">структура</a>
                  <a href="#">продукты и проекты</a>
                  <a href="#">деятельность</a>
                </div>
              </div>
            </div>
          </div><!-- direction-block -->
        </div>
        {% include "news-block.html" %}
        <a elem="more" href="#">Подробнее о направлении</a>
      </div>
      <div elem="direction" id="it_direction" style="background-image: url('img/direction-block-bg3.jpg');">
        <div elem="container">
          <div block="direction-block">
            <div elem="section" class="contain">
              <div elem="body">
                <div elem="img-mobile"><img src="img/direction-block-bg3.jpg" alt=""></div>
                <div elem="desc">
                  Повышение качества жизни людей через создание высокотехнологичных «умных» продуктов
                </div>
                <div elem="links">
                  <a href="#">направления</a>
                  <a href="#">структура</a>
                  <a href="#">продукты и проекты</a>
                  <a href="#">деятельность</a>
                </div>
              </div>
            </div>
          </div><!-- direction-block -->
        </div>
        {% include "news-block.html" %}
        <a elem="more" href="#">Подробнее о направлении</a>
      </div>
      <div elem="direction" id="medicine_direction" style="background-image: url('img/direction-block-bg4.jpg');">
        <div elem="container">
          <div block="direction-block">
            <div elem="section" class="contain">
              <div elem="body">
                <div elem="img-mobile"><img src="img/direction-block-bg4.jpg" alt=""></div>
                <div elem="desc">
                  Повышение качества жизни людей через создание высокотехнологичных «умных» продуктов
                </div>
                <div elem="links">
                  <a href="#">направления</a>
                  <a href="#">структура</a>
                  <a href="#">продукты и проекты</a>
                  <a href="#">деятельность</a>
                </div>
              </div>
            </div>
          </div><!-- direction-block -->
        </div>
        {% include "news-block.html" %}
        <a elem="more" href="#">Подробнее о направлении</a>
      </div>
      <div elem="direction" id="ecology_direction" style="background-image: url('img/direction-block-bg5.jpg');">
        <div elem="container">
          <div block="direction-block">
            <div elem="section" class="contain">
              <div elem="body">
                <div elem="img-mobile"><img src="img/direction-block-bg5.jpg" alt=""></div>
                <div elem="desc">
                  Повышение качества жизни людей через создание высокотехнологичных «умных» продуктов
                </div>
                <div elem="links">
                  <a href="#">направления</a>
                  <a href="#">структура</a>
                  <a href="#">продукты и проекты</a>
                  <a href="#">деятельность</a>
                </div>
              </div>
            </div>
          </div><!-- direction-block -->
        </div>
        {% include "news-block.html" %}
        <a elem="more" href="#">Подробнее о направлении</a>
      </div>
      <div elem="direction" id="hr_direction" style="background-image: url('img/direction-block-bg6.jpg');">
        <div elem="container">
          <div block="direction-block">
            <div elem="section" class="contain">
              <div elem="body">
                <div elem="img-mobile"><img src="img/direction-block-bg6.jpg" alt=""></div>
                <div elem="desc">
                  Повышение качества жизни людей через создание высокотехнологичных «умных» продуктов
                </div>
                <div elem="links">
                  <a href="#">направления</a>
                  <a href="#">структура</a>
                  <a href="#">продукты и проекты</a>
                  <a href="#">деятельность</a>
                </div>
              </div>
            </div>
          </div><!-- direction-block -->
        </div>
        {% include "news-block.html" %}
        <a elem="more" href="#">Подробнее о направлении</a>
      </div>
    </div>
  </div>
</div><!-- news-block -->