.about-direction
  padding-top: 80px
  padding-bottom: 80px

  @media (max-width: 1279px)
    padding-top: 40px
    padding-bottom: 40px

  &__content
    display: flex

    @media (max-width: 767px)
      display: block

  &__text
    width: 50%
    margin-right: 35px

    @media (max-width: 767px)
      margin-right: 0
      margin-bottom: 25px
      width: 100%

    p
      font-size: 24px
      color: #101820
      font-weight: 400
      line-height: 1
      letter-spacing: 0.16px
      margin-top: 0
      margin-bottom: 15px

      @media (max-width: 767px)
        font-size: 18px

  &__info
    width: 50%

    @media (max-width: 767px)
      width: 100%

    p
      font-size: 20px
      color: #101820
      font-style: italic
      font-weight: 400
      line-height: 1
      letter-spacing: 0.16px
      margin-top: 0
      margin-bottom: 15px
      
      @media (max-width: 767px)
        font-size: 16px

  &__executive
    display: flex
    align-items: center

  &__avatar
    flex: 0 0 68px
    width: 68px
    max-width: 68px
    height: 68px
    position: relative
    overflow: hidden
    border-radius: 50%
    margin-right: 20px

    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      vertical-align: top

  &__name
    font-size: 16px
    color: #A39061
    font-weight: 600
    line-height: 1.1
    letter-spacing: 0.16px

    strong
      color: #A39061
      display: block

    span
      color: #101820
      display: block

  &__more
    font-size: 14px
    color: #A39061
    font-weight: 600
    line-height: 1
    letter-spacing: 1.6px
    text-transform: uppercase
    text-decoration: none
    display: inline-block
    vertical-align: top
    padding-top: 6px
    padding-bottom: 8px
    border-bottom: 3px solid transparent
    margin-top: 30px
    transition: border-color 0.3s

    &:hover
      border-bottom-color: #A39061