.production-thumb
  background-color: #FAFCFF
  padding: 50px
  width: 100%
  min-height: 640px
  position: relative
  overflow: hidden

  @media (max-width: 1023px)
    min-height: 540px

  @media (max-width: 767px)
    padding: 25px
    min-height: 440px

  &:hover
    & ^[0]
      &__img
        img
          transform: scale(1.15)

  &__body
    width: 100%

  &__content
    position: relative
    z-index: 2

  &__name
    font-size: 32px
    color: #A39061
    font-weight: 400
    line-height: 1.1
    letter-spacing: 0.16px
    margin-bottom: 20px

    @media (max-width: 767px)
      font-size: 26px

  &__text
    font-size: 16px
    color: #101820
    font-weight: 400
    line-height: 1.1
    letter-spacing: 0.16px
    max-width: 460px
    width: 100%

  &__img
    position: absolute
    right: 0
    bottom: 0

    img
      vertical-align: top
      transition: transform 1s