.projects-block
  background-color: #FAFCFF

  &--products-projects-page
    background-color: #fff

    h2
      margin-bottom: 80px

      @media (max-width: 767px)
        margin-bottom: 40px

    & ^[0]
      &__more
        background-color: #fafcff

  &__section
    padding-top: 128px
    padding-bottom: 40px

    @media (max-width: 1279px)
      padding-top: 65px
      padding-bottom: 10px

  &__items
    display: flex
    flex-wrap: wrap
    margin-left: -30px

  &__item
    width: 50%
    padding-left: 30px
    padding-bottom: 80px

    @media (max-width: 767px)
      width: 100%
      padding-bottom: 40px

  &__more
    font-size: 20px
    color: #A39061
    font-weight: 600
    line-height: 1.1
    letter-spacing: 0.01em
    text-align: center
    text-decoration: none
    width: 100%
    padding: 27px 20px
    display: block
    background-color: #fff
    transition: color 0.3s, background-color 0.3s

    @media (max-width: 1023px)
      padding-top: 14px
      padding-bottom: 14px

    @media (max-width: 767px)
      font-size: 16px
      padding-top: 20px
      padding-bottom: 20px

    &:hover
      color: #fff
      background-color: #A39061