<div block="new-direction-activity">
  <div elem="section">
    <div elem="head">
      <h2 elem="title">
        Новости <br> по отраслям
      </h2>
      <a elem="all" href="#">Все новости</a>
    </div>
    <div elem="inner">
      <div elem="wrapper">
        <div elem="preview">
          <div block="preview-news-direction" class="_is-show">
            <div elem="body">
              <div elem="img"><img src="img/preview-news-direction-img.jpg" alt=""></div>
              <div elem="content">
                <div elem="info">
                  <div elem="date">02.06</div>
                  <a elem="text" href="#">
                    ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей
                  </a>
                  <div elem="tags">
                    <a elem="tag" href="#">
                      <span># Техприемка</span> <span>росэлектроника</span>
                    </a>
                  </div>
                </div>
              </div>
              <a elem="more" href="#"></a>
            </div>
          </div><!-- preview-news-direction -->
          <div block="preview-news-direction">
            <div elem="body">
              <div elem="img"><img src="img/hero-img4.jpg" alt=""></div>
              <div elem="content">
                <div elem="info">
                  <div elem="date">03.06</div>
                  <a elem="text" href="#">
                    ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей 2
                  </a>
                  <div elem="tags">
                    <a elem="tag" href="#">
                      <span># Техприемка</span> <span>росэлектроника 2</span>
                    </a>
                  </div>
                </div>
              </div>
              <a elem="more" href="#"></a>
            </div>
          </div><!-- preview-news-direction -->
          <div block="preview-news-direction">
            <div elem="body">
              <div elem="img"><img src="img/hero-img3.jpg" alt=""></div>
              <div elem="content">
                <div elem="info">
                  <div elem="date">04.06</div>
                  <a elem="text" href="#">
                    ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей 3
                  </a>
                  <div elem="tags">
                    <a elem="tag" href="#">
                      <span># Техприемка</span> <span>росэлектроника 3</span>
                    </a>
                  </div>
                </div>
              </div>
              <a elem="more" href="#"></a>
            </div>
          </div><!-- preview-news-direction -->
          <div block="preview-news-direction">
            <div elem="body">
              <div elem="img"><img src="img/hero-img.jpg" alt=""></div>
              <div elem="content">
                <div elem="info">
                  <div elem="date">05.06</div>
                  <a elem="text" href="#">
                    ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей 4
                  </a>
                  <div elem="tags">
                    <a elem="tag" href="#">
                      <span># Техприемка</span> <span>росэлектроника 4</span>
                    </a>
                  </div>
                </div>
              </div>
              <a elem="more" href="#"></a>
            </div>
          </div><!-- preview-news-direction -->
          <div block="preview-news-direction">
            <div elem="body">
              <div elem="img"><img src="img/preview-news-direction-img2.jpg" alt=""></div>
              <div elem="content">
                <div elem="info">
                  <div elem="date">06.06</div>
                  <a elem="text" href="#">
                    ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей 5 
                  </a>
                  <div elem="tags">
                    <a elem="tag" href="#">
                      <span># Техприемка</span> <span>росэлектроника 5</span>
                    </a>
                  </div>
                </div>
              </div>
              <a elem="more" href="#"></a>
            </div>
          </div><!-- preview-news-direction -->
          <div block="preview-news-direction">
            <div elem="body">
              <div elem="img"><img src="img/preview-news-direction-img.jpg" alt=""></div>
              <div elem="content">
                <div elem="info">
                  <div elem="date">07.06</div>
                  <a elem="text" href="#">
                    ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей 6
                  </a>
                  <div elem="tags">
                    <a elem="tag" href="#">
                      <span># Техприемка</span> <span>росэлектроника 6</span>
                    </a>
                  </div>
                </div>
              </div>
              <a elem="more" href="#"></a>
            </div>
          </div><!-- preview-news-direction -->
        </div>
        <div elem="list">
          <div elem="direction-head">
            <div block="new-direction-name">
              <div elem="section">
                <span elem="other" class="js-new-direction-other-name"></span>
                <h3>Авиация</h3>
                <div elem="list" class="js-new-direction-list">
                  <ul>
                    <li class="_is-active">
                      <a href="#aviation_direction"><span>Авиация</span></a>
                      <img src="img/hero-img2.jpg" alt="">
                    </li>
                    <li>
                      <a href="#transport_direction"><span>Транспорт</span></a>
                      <img src="img/hero-img4.jpg" alt="">
                    </li>
                    <li>
                      <a href="#it_direction"><span>ИТ и Телеком</span></a>
                      <img src="img/hero-img3.jpg" alt="">
                    </li>
                    <li>
                      <a href="#medicine_direction"><span>Здравоохранение</span></a>
                      <img src="img/new-hero-img.jpg" alt="">
                    </li>
                    <li><a href="#ecology_direction"><span>Экология</span></a></li>
                    <li><a href="#hr_direction"><span>HR</span></a></li>
                  </ul>
                </div>
              </div>
            </div><!-- direction-name -->
          </div>
          <div elem="direction" id="aviation_direction">
            <div block="preview-news-direction">
              <div elem="body">
                <div elem="img"><img src="img/preview-news-direction-img.jpg" alt=""></div>
                <div elem="content">
                  <div elem="info">
                    <div elem="date">02.06</div>
                    <a elem="text" href="#">
                      ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей
                    </a>
                    <div elem="tags">
                      <a elem="tag" href="#">
                        <span># Техприемка</span> <span>росэлектроника</span>
                      </a>
                    </div>
                  </div>
                </div>
                <a elem="more" href="#"></a>
              </div>
            </div><!-- preview-news-direction -->
            <div elem="direction-inner">
              {% include "new-news-block.html" %}
              <a elem="more" href="#">Все новости отрасли</a>
            </div>
          </div>
          <div elem="direction" id="transport_direction">
            <div block="preview-news-direction">
              <div elem="body">
                <div elem="img"><img src="img/hero-img4.jpg" alt=""></div>
                <div elem="content">
                  <div elem="info">
                    <div elem="date">03.06</div>
                    <a elem="text" href="#">
                      ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей 2
                    </a>
                    <div elem="tags">
                      <a elem="tag" href="#">
                        <span># Техприемка</span> <span>росэлектроника 2</span>
                      </a>
                    </div>
                  </div>
                </div>
                <a elem="more" href="#"></a>
              </div>
            </div><!-- preview-news-direction -->
            <div elem="direction-inner">
              {% include "new-news-block.html" %}
              <a elem="more" href="#">Все новости отрасли</a>
            </div>
          </div>
          <div elem="direction" id="it_direction">
            <div block="preview-news-direction">
              <div elem="body">
                <div elem="img"><img src="img/hero-img3.jpg" alt=""></div>
                <div elem="content">
                  <div elem="info">
                    <div elem="date">04.06</div>
                    <a elem="text" href="#">
                      ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей 3
                    </a>
                    <div elem="tags">
                      <a elem="tag" href="#">
                        <span># Техприемка</span> <span>росэлектроника 3</span>
                      </a>
                    </div>
                  </div>
                </div>
                <a elem="more" href="#"></a>
              </div>
            </div><!-- preview-news-direction -->
            <div elem="direction-inner">
              <div block="new-news-block">
                <div elem="section">
                  <div elem="inner">
                    <div elem="items">
                      <div elem="item">
                        <div block="new-news-thumb">
                          <div elem="body">
                            <div elem="info">
                              <div elem="date">02.06</div>
                              <a elem="text" href="#">
                                Ростех показал возможности первого в стране миниатюрного OLED-дисплея
                              </a>
                              <div elem="tags">
                                <a elem="tag" href="#"># ПМЭФ</a>
                              </div>
                            </div>
                            <a elem="img" href="#">
                              <img src="img/news-thumb-img4.png" alt="">
                            </a>
                          </div>
                        </div><!-- news-thumb -->
                      </div>
                      <div elem="item">
                        <div block="new-news-thumb">
                          <div elem="body">
                            <div elem="info">
                              <div elem="date">02.06</div>
                              <a elem="text" href="#">
                                Ростех разработает устройства интернета вещей нового типа
                              </a>
                              <div elem="tags">
                                <a elem="tag" href="#"># ПМЭФ</a>
                              </div>
                            </div>
                            <a elem="img" href="#">
                              <img src="img/news-thumb-img5.png" alt="">
                            </a>
                          </div>
                        </div><!-- news-thumb -->
                      </div>
                      <div elem="item">
                        <div block="new-news-thumb">
                          <div elem="body">
                            <div elem="info">
                              <div elem="date">02.06</div>
                              <a elem="text" href="#">
                                Ростех разработал портативную РЛС для объектов критически важной инфраструктуры
                              </a>
                              <div elem="tags">
                                <a elem="tag" href="#"># ПМЭФ</a>
                              </div>
                            </div>
                            <a elem="img" href="#">
                              <img src="img/news-thumb-img3.jpg" alt="">
                            </a>
                          </div>
                        </div><!-- news-thumb -->
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- new-news-block -->
              <a elem="more" href="#">Все новости отрасли</a>
            </div>
          </div>
          <div elem="direction" id="medicine_direction">
            <div block="preview-news-direction">
              <div elem="body">
                <div elem="img"><img src="img/hero-img.jpg" alt=""></div>
                <div elem="content">
                  <div elem="info">
                    <div elem="date">05.06</div>
                    <a elem="text" href="#">
                      ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей 4
                    </a>
                    <div elem="tags">
                      <a elem="tag" href="#">
                        <span># Техприемка</span> <span>росэлектроника 4</span>
                      </a>
                    </div>
                  </div>
                </div>
                <a elem="more" href="#"></a>
              </div>
            </div><!-- preview-news-direction -->
            <div elem="direction-inner">
              {% include "new-news-block.html" %}
              <a elem="more" href="#">Все новости отрасли</a>
            </div>
          </div>
          <div elem="direction" id="ecology_direction">
            <div block="preview-news-direction">
              <div elem="body">
                <div elem="img"><img src="img/preview-news-direction-img2.jpg" alt=""></div>
                <div elem="content">
                  <div elem="info">
                    <div elem="date">06.06</div>
                    <a elem="text" href="#">
                      ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей 5
                    </a>
                    <div elem="tags">
                      <a elem="tag" href="#">
                        <span># Техприемка</span> <span>росэлектроника 5</span>
                      </a>
                    </div>
                  </div>
                </div>
                <a elem="more" href="#"></a>
              </div>
            </div><!-- preview-news-direction -->
            <div elem="direction-inner">
              {% include "new-news-block.html" %}
              <a elem="more" href="#">Все новости отрасли</a>
            </div>
          </div>
          <div elem="direction" id="hr_direction">
            <div block="preview-news-direction">
              <div elem="body">
                <div elem="img"><img src="img/preview-news-direction-img.jpg" alt=""></div>
                <div elem="content">
                  <div elem="info">
                    <div elem="date">07.06</div>
                    <a elem="text" href="#">
                      ФРП и «Росэлектроника» подписали соглашение о предоставлении займа на 210,8 млн рублей 6
                    </a>
                    <div elem="tags">
                      <a elem="tag" href="#">
                        <span># Техприемка</span> <span>росэлектроника 6</span>
                      </a>
                    </div>
                  </div>
                </div>
                <a elem="more" href="#"></a>
              </div>
            </div><!-- preview-news-direction -->
            <div elem="direction-inner">
              {% include "new-news-block.html" %}
              <a elem="more" href="#">Подробнее о направлении</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- new-direction-activity -->