html, body
  margin: 0
  padding: 0

html
  min-height: 100%
  min-height: 100vh

.app
  display: flex
  flex-direction: column
  height: 100%
  height: 100vh

  &--inner-page
    .top-panel
      background-color: #101820
      padding-top: 8px
      padding-bottom: 8px

      .logo
        &__img
          height: 46px
          overflow: hidden

    .news-block
      padding-top: 130px
      padding-bottom: 130px
      background-color: #FAFCFF

      @media (max-width: 1279px)
        padding-top: 65px
        padding-bottom: 65px

  &__wrapper
    display: flex
    flex-direction: column
    min-height: 100%
    min-height: 100vh

  &__content
    display: flex
    flex: 1 0 auto

  &__main
    flex: 1

h2
  font-size: 48px
  color: #101820
  font-weight: 600
  line-height: 1.1
  letter-spacing: 0.16px
  word-break: break-word
  margin-top: 0
  margin-bottom: 30px

  @media (max-width: 767px)
    font-size: 36px
    margin-bottom: 15px

  @media (max-width: 479px)
    font-size: 28px

.contain
  max-width: 1320px + 25px + 25px
  width: 100%
  padding-right: 25px
  padding-left: 25px
  margin-right: auto
  margin-left: auto

.inner-header
  &--img
    & ^[0]
      &__inner
        min-height: 630px

        @media (max-width: 1023px)
          min-height: 450px

  &__inner
    background-color: #F5F8FA
    background-repeat: no-repeat
    background-position: 50% 0
    background-size: cover
    min-height: 300px

    // background-attachment: fixed
    @media (max-width: 767px)
      min-height: 150px

  &__content
    padding-top: 88px
    padding-bottom: 16px

    @media (max-width: 767px)
      padding-top: 60px

    h1
      font-weight: 700
      font-size: 64px
      line-height: 0.9
      letter-spacing: -0.64px
      background: linear-gradient(225.29deg, #101820 22.8%, #2C3642 99.5%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      background-clip: text
      text-fill-color: transparent
      max-width: 864px
      width: 100%
      margin: 0

      @media (max-width: 1023px)
        font-size: 54px

      @media (max-width: 767px)
        font-size: 36px

  &__filter
    display: flex
    align-items: center
    margin-top: 115px

    @media (max-width: 767px)
      margin-top: 50px

  &__button-filter
    font-size: 14px
    color: #A39061
    font-weight: 600
    line-height: 1
    letter-spacing: 1.6px
    text-transform: uppercase
    display: flex
    align-items: center
    padding: 8px 16px
    margin-right: 10px
    flex: 0 0 auto
    background-color: transparent
    border: none
    cursor: pointer
    transition: background-color 0.3s, color 0.3s, ease 0.3s

    @media (max-width: 767px)
      padding-right: 8px
      padding-left: 8px

    &:hover
      color: #101820
      background-color: #fff

    &._is-active
      color: #101820
      background-color: #fff

      & ^[0]
        &__button-filter-close
          display: block

  &__button-filter-close
    flex: 0 0 13px
    width: 13px
    max-width: 13px
    height: 13px
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.5 6.37778M6.5 6.37778L12 1M6.5 6.37778L12 12M6.5 6.37778L1 12' stroke='%23101820' stroke-width='2'/%3E%3C/svg%3E%0A")
    margin-left: 8px
    display: none
