.first-screen
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 1300px

  &__img
    height: 100%
    width: 100%
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: cover