.nav-direction
  flex: none
  width: 100%
  position: relative
  z-index: 5
  transition: transform 0.3s, background-color 0.3s, ease 0.3s

  &._is-fixed
    top: 0
    left: 0
    position: fixed
    background-color: #fff
    box-shadow: -10px 0px 24px rgba(16, 24, 32, 0.1)
    transition: transform 0.3s

  .direction-name
    flex: 0 0 auto
    padding-top: 20px
    padding-bottom: 20px
    margin-right: 30px
    width: auto
    background-color: transparent

    @media (max-width: 767px)
      margin-right: 15px

    &:hover
      h3
        color: #a39061

      h3 + .direction-name__other
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='30' viewBox='0 0 21 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 12L10.5 3L19 12' stroke='%23A39061' stroke-width='3'/%3E%3Cpath d='M2 19L10.5 27L19 19' stroke='%23A39061' stroke-width='3'/%3E%3C/svg%3E%0A")

    &--news
      pointer-events: none

    &__other
      order: -1

    &__list
      top: 125px
      z-index: 5

      @media (max-width: 767px)
        top: 110px

  &__inner
    display: flex
    align-items: center

    @media (max-width: 767px)
      display: block

  &__nav
    margin-left: auto
    overflow-x: auto

    ul
      list-style: none
      display: flex
      align-items: center
      margin: 0
      padding-left: 0

      li
        margin-right: 50px
        flex: 0 0 auto

        @media (max-width: 1279px)
          margin-right: 25px

        @media (max-width: 767px)
          margin-right: 15px

        &:last-child
          margin-right: 0

        &._is-active
          a
            color: #101820
            pointer-events: none

            &:after
              opacity: 1
              visibility: visible

        a
          font-size: 14px
          color: #A39061
          font-weight: 600
          line-height: 1.1
          letter-spacing: 1.6px
          text-transform: uppercase
          text-decoration: none
          padding-top: 40px
          padding-bottom: 40px
          position: relative
          display: block
          transition: color 0.3s

          @media (max-width: 767px)
            padding-top: 20px
            padding-bottom: 20px

          &:after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 3px
            background-color: #101820
            opacity: 0
            visibility: hidden
            transition: opacity 0.3s

          &:hover
            color: #101820