.subscribe-news
  padding-top: 120px
  padding-bottom: 120px
  background-color: #F0F4FA
  min-height: 450px

  @media (max-width: 767px)
    padding-top: 40px
    padding-bottom: 90px

  &--social
    & ^[0]
      &__wrapper
        max-width: 100%

        @media (max-width: 959px)
          flex-wrap: wrap

        @media (max-width: 767px)
          flex-direction: row

      &__head
        max-width: 305px

        @media (max-width: 1279px)
          max-width: 225px

        @media (max-width: 959px)
          max-width: none
          width: 50%
          margin-right: 0

        @media (max-width: 767px)
          margin-bottom: 96px

        @media (max-width: 479px)
          width: 100%

        &:first-child
          br
            @media (max-width: 479px)
              display: none

        &:nth-child(2)
          @media (max-width: 767px)
            margin-bottom: 0

      &__title
        font-size: 32px
        margin-bottom: 56px

        @media (max-width: 767px)
          margin-bottom: 32px

      &__desc
        font-size: 18px

      &__links
        display: flex
        align-items: center

        a
          font-weight: 600
          color: #A39061
          font-size: 14px
          line-height: 14px
          letter-spacing: 1.6px
          text-transform: uppercase
          text-decoration: none
          display: flex
          align-items: center
          margin-right: 22px

          &:last-child
            margin-right: 0

          &:hover
            text-decoration: underline

      &__form
        @media (max-width: 1279px)
          max-width: 526px
          width: auto

        @media (max-width: 959px)
          max-width: 100%
          width: 100%
          margin-top: 76px

        @media (max-width: 767px)
          margin-top: 32px

  &._is-success
    & ^[0]
      &__fields
        display: none

      &__success
        display: block

  &._is-error
    & ^[0]
      &__input
        input
          color: #b31218
          border-color: #B31218

      &__button-submit
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='1'%3E%3Cpath d='M23.668 13.7051L11.668 1.70508' stroke='%23B31218' stroke-width='4'/%3E%3Cpath d='M11.668 24.3325L23.668 12.3325' stroke='%23B31218' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E%0A")

      &__text-error
        display: block

  &__wrapper
    display: flex
    justify-content: space-between
    max-width: 1105px
    width: 100%
    margin-right: auto
    margin-left: auto

    @media (max-width: 767px)
      flex-direction: column

  &__head
    max-width: 350px
    margin-right: 25px

    @media (max-width: 767px)
      max-width: 100%
      margin-right: 0
      margin-bottom: 55px

  &__title
    font-size: 48px
    color: #101820
    font-weight: 600
    line-height: 1.2
    letter-spacing: 0.16px
    margin-bottom: 10px

    @media (max-width: 767px)
      font-weight: 700
      line-height: 0.9

    @media (max-width: 374px)
      font-size: 42px

  &__desc
    font-size: 20px
    color: #101820
    font-weight: 400
    line-height: 1.1
    letter-spacing: 0.16px

    @media (max-width: 767px)
      font-size: 16px

  &__form
    width: 526px
    display: flex

    @media (max-width: 767px)
      width: 100%

  &__fields
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    justify-content: space-between

  &__field
    margin-bottom: 70px
    position: relative

    @media (max-width: 374px)
      margin-bottom: 50px

    &:last-child
      margin-bottom: 0

  &__choice-direction
    font-size: 20px
    color: #101820
    font-weight: 400
    line-height: 1.1
    letter-spacing: 0.16px
    display: flex
    align-items: center
    padding: 12px 8px
    cursor: pointer
    border-bottom: 3px solid #101820
    transition: background-color 0.3s, ease 0.3s

    @media (max-width: 374px)
      font-size: 16px

    &._is-active
      background-color: #fff

      i
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='15' viewBox='0 0 24 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 2L12 12L2 2' stroke='black' stroke-width='3'/%3E%3C/svg%3E%0A")

    span
      overflow: hidden
      text-overflow: ellipsis
      vertical-align: bottom
      white-space: nowrap
      margin-right: 10px

    i
      flex: 0 0 29px
      width: 29px
      max-width: 29px
      height: 29px
      background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.13544 14.5H24.4688' stroke='%23101820' stroke-width='3'/%3E%3Cpath d='M14.8021 4.83325L14.8021 24.1666' stroke='%23101820' stroke-width='3'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-size: contain
      background-position: 50% 50%
      margin-left: auto
      transition: background 0.3s, ease 0.3s

  &__directions
    width: 100%
    background-color: #fff
    position: absolute
    top: 100%
    left: 0
    opacity: 0
    visibility: hidden
    transform: translateY(-10px)
    z-index: 4
    transition: opacity 0.3s, transform 0.3s, ease 0.3s

    &._is-show
      opacity: 1
      visibility: visible
      transform: translateY(0)

    ul
      list-style: none
      padding-left: 0
      margin: 0

      li
        font-size: 20px
        color: #101820
        font-weight: 400
        line-height: 1.1
        letter-spacing: 0.16px
        display: flex
        align-items: center
        padding: 12px 10px
        border-bottom: 1px solid rgba(183, 183, 183, 0.3)
        cursor: pointer
        transition: background 0.3s

        @media (max-width: 374px)
          font-size: 16px
          padding-top: 10px
          padding-bottom: 10px

        &:before
          content: ''
          flex: 0 0 23px
          width: 23px
          max-width: 23px
          height: 17px
          background-image: url("data:image/svg+xml,%3Csvg width='23' height='17' viewBox='0 0 23 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 2L9 14L2 7' stroke='%23101820' stroke-width='3'/%3E%3C/svg%3E%0A")
          background-repeat: no-repeat
          background-size: contain
          background-position: 0 0
          margin-right: 18px
          opacity: 0
          visibility: hidden
          transition: opacity 0.3s, ease 0.3s

          @media (max-width: 374px)
            flex: 0 0 16px
            width: 16px
            max-width: 16px
            height: 12px
            margin-right: 10px

        &._is-checked
          &:before
            opacity: 1
            visibility: visible

        &:hover
          @media (min-width: 1025px)
            background: linear-gradient(0deg, rgba(3, 55, 107, 0.1), rgba(3, 55, 107, 0.1)), #FFFFFF

  &__input
    position: relative

    input
      font-size: 20px
      color: #101820
      font-weight: 400
      line-height: 1
      letter-spacing: 0.16px
      border: none
      padding-right: 30px
      background-color: transparent
      border-bottom: 3px solid #101820
      padding-bottom: 15px
      padding-left: 8px
      width: 100%
      height: 42px
      transition: color 0.3s
      outline: none !important

      @media (max-width: 374px)
        font-size: 16px

    ::placeholder
      font-size: 20px
      color: rgba(16, 24, 32, 0.3)
      font-weight: 400
      line-height: 1
      letter-spacing: 0.16px

      @media (max-width: 374px)
        font-size: 16px

  &__button-submit
    position: absolute
    top: 0
    right: 8px
    width: 26px
    height: 26px
    border: none
    background-color: transparent
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M23.668 13.7051L11.668 1.70508' stroke='%23101820' stroke-width='4'/%3E%3Cpath d='M11.668 24.3325L23.668 12.3325' stroke='%23101820' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-size: contain
    background-position: 0 0
    cursor: pointer
    transition: background 0.3s

    &:hover
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='1'%3E%3Cpath d='M23.668 13.7051L11.668 1.70508' stroke='%23101820' stroke-width='4'/%3E%3Cpath d='M11.668 24.3325L23.668 12.3325' stroke='%23101820' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E%0A")

  &__note
    font-size: 16px
    color: #8F8F8C
    font-weight: 400
    line-height: 1.1
    letter-spacing: 0.16px
    display: block
    margin-top: 25px

  &__text-error
    font-size: 16px
    color: #B31218
    font-weight: 400
    line-height: 1
    letter-spacing: 0.16px
    display: none
    margin-top: 5px

  &__success
    max-width: 474px
    width: 100%
    padding-top: 65px
    display: none

    @media (max-width: 767px)
      padding-top: 0

    span
      font-size: 20px
      color: #101820
      font-weight: 400
      line-height: 1.1
      letter-spacing: 0.16px

  &__icon-success
    width: 48px
    height: 48px
    display: block
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42 43L6 43M42 43L42 19.5432M42 43L27.9375 31.2716M6 43L6 19.5432M6 43L20.0625 31.2716M6 19.5432L12 14.6955M6 19.5432L12 24.5473M42 19.5432L36 14.6955M42 19.5432L36 24.5473M20.0625 31.2716L24 27.9877L27.9375 31.2716M20.0625 31.2716L12 24.5473M27.9375 31.2716L36 24.5473M12 14.6955V10.9375H16.6512M12 14.6955L12 24.5473M16.6512 10.9375L24 5L31.3488 10.9375M16.6512 10.9375L31.3488 10.9375M31.3488 10.9375H36V14.6955M36 14.6955V24.5473' stroke='black' stroke-width='3' stroke-linejoin='bevel'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-size: contain
    background-position: 0 0
    margin-bottom: 15px