= yaml =
pageTitle: Ошибка 404 - Страница не найдена
bodyClasses: error404
layout: !!map
  header: true
  footer: true
  left: false
  right: false
= yaml =

{% extends 'app.html' %}

{% block inlineStyles %}
<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 10px;
  }

  .container {
    padding-top: 128px;
    padding-bottom: 190px;
    background-color: #F0F4FA;
    background-image: url('../img/error-404-pic.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;
  }

  h1 {
    font-size: 196px;
    color: #101820;
    font-weight: 700;
    line-height: 0.4;
    letter-spacing: -0.64px;
    margin-bottom: 80px;
  }

  h1 span {
    font-size: 64px;
    display: block;
  }

  p {
    font-size: 20px;
    color: #101820;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.16px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .back-home-link {
    font-size: 12px;
    color: #A39061;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .back-home-link:hover {
    text-decoration: underline;
  }
  
  
  @media (max-width: 959px) {
    .container {
      padding-top: 200px;
      padding-bottom: 80px;
    }
  }

  @media (max-width: 479px) {
    .container {
      padding-top: 150px;
    }
  }

  @media (max-width: 479px) {
    h1 {
      font-size: 146px;
      margin-bottom: 60px;
    }
    h1 span {
      font-size: 46px;
    }
    p {
      font-size: 16px;
    }
  }
  
</style>
{% endblock %}

{% block main %}

<div class="container">
  <div class="container-404 contain">
    <h1>
      <span>Ошибка</span> <br>
      404
    </h1>

    <p>Похоже, что страница, которую вы <br> запросили, не существует.</p>
    <a class="back-home-link" href="index.html">Вернуться на главную страницу</a>
  </div>
</div>

<div block="news-block">
  <div elem="section">
    <div elem="inner" class="contain">
      <div elem="head">
        <h3>Последние новости</h3>
        <a elem="all" href="#">Все новости</a>
      </div>
      <div elem="items">
        <div elem="item">
          <div block="news-thumb">
            <div elem="body">
              <div elem="info">
                <div elem="date">02.06</div>
              </div>
              <a elem="img" href="#">
                <img src="img/news-thumb-img.jpg" alt="">
              </a>
              <a elem="text" href="#">
                Новикомбанк профинансирует инфраструктурные проекты «Росэлектроники»
              </a>
              <div elem="tags">
                <a elem="tag" href="#"># ПМЭФ</a>
              </div>
            </div>
          </div><!-- news-thumb -->
        </div>
        <div elem="item">
          <div block="news-thumb">
            <div elem="body">
              <div elem="info">
                <div elem="date">02.06</div>
              </div>
              <a elem="img" href="#">
                <img src="img/news-thumb-img2.jpg" alt="">
              </a>
              <a elem="text" href="#">
                На предприятиях «Росэлектроники» будет внедрена национальная инжиниринговая платформа
              </a>
              <div elem="tags">
                <a elem="tag" href="#"># ПМЭФ</a>
              </div>
            </div>
          </div><!-- news-thumb -->
        </div>
        <div elem="item">
          <div block="news-thumb">
            <div elem="body">
              <div elem="info">
                <div elem="date">02.06</div>
              </div>
              <a elem="img" href="#">
                <img src="img/news-thumb-img3.jpg" alt="">
              </a>
              <a elem="text" href="#">
                Ростех разработал портативную РЛС для объектов критически важной инфраструктуры
              </a>
              <div elem="tags">
                <a elem="tag" href="#"># ПМЭФ</a>
              </div>
            </div>
          </div><!-- news-thumb -->
        </div>
      </div>
    </div>
  </div>
</div><!-- news-block -->

{% endblock %}