= yaml =
pageTitle: Медиа
bodyClasses:
layout: !!map
  header: true
  footer: true
  left: false
  right: false
= yaml =

{% extends 'app.html' %}


{% block main %}

  <div block="inner-header">
    <div elem="section">
      <div block="nav-direction">
        <div elem="section">
          <div elem="panel">
            <div elem="inner" class="contain">
              <div block="direction-name" mods="news">
                <div elem="section">
                  <h3>Медиа</h3>
                </div>
              </div><!-- direction-name -->
              <nav elem="nav">
                <ul>
                  <li><a href="#">Новости</a></li>
                  <li><a href="#">Календарь событий</a></li>
                  <li><a href="#">Мультимедиа</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div><!-- nav-direction -->
    </div>
  </div><!-- inner-header -->

  <div block="news-block">
    <div elem="section">
      <div elem="inner" class="contain">
        <div elem="head">
          <h3>Последние новости</h3>
          <a elem="all" href="#">Все новости</a>
        </div>
        <div elem="items">
          <div elem="item">
            <div block="news-thumb">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                  <div elem="tags">
                    <a elem="tag" href="#"># ПМЭФ</a>
                  </div>
                </div>
                <a elem="img" href="#">
                  <img src="img/news-thumb-img.jpg" alt="">
                </a>
                <a elem="text" href="#">
                  Новикомбанк профинансирует инфраструктурные проекты «Росэлектроники»
                </a>
              </div>
            </div><!-- news-thumb -->
          </div>
          <div elem="item">
            <div block="news-thumb">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                  <div elem="tags">
                    <a elem="tag" href="#"># ПМЭФ</a>
                  </div>
                </div>
                <a elem="img" href="#">
                  <img src="img/news-thumb-img2.jpg" alt="">
                </a>
                <a elem="text" href="#">
                  На предприятиях «Росэлектроники» будет внедрена национальная инжиниринговая платформа
                </a>
              </div>
            </div><!-- news-thumb -->
          </div>
          <div elem="item">
            <div block="news-thumb">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                  <div elem="tags">
                    <a elem="tag" href="#"># ПМЭФ</a>
                  </div>
                </div>
                <a elem="img" href="#">
                  <img src="img/news-thumb-img3.jpg" alt="">
                </a>
                <a elem="text" href="#">
                  Ростех разработал портативную РЛС для объектов критически важной инфраструктуры
                </a>
              </div>
            </div><!-- news-thumb -->
          </div>
        </div>
      </div>
    </div>
    <a elem="more" href="#">Подробнее о направлении</a>
  </div><!-- news-block -->

  <div block="news-calendar" mods="media">
    <button elem="button-close" class="js-button-close" type="button"></button>
    <div elem="section">
      <div elem="inner" class="contain">
        <h2>Календарь событий</h2>
        <div elem="container">
          <div elem="date-nav">
            <div elem="years">
              <div elem="active-year" class="js-active-year">2022</div>
              <div elem="year-dropdown" class="js-year-dropdown">
                <div elem="year">2020</div>
                <div elem="year">2021</div>
                <div elem="year" class="_is-active">2022</div>
                <div elem="year">2023</div>
              </div>
            </div>
            <div elem="months">
              <div elem="month">Январь</div>
              <div elem="month">Феврваль</div>
              <div elem="month">Март</div>
              <div elem="month">Апрель</div>
              <div elem="month">Май</div>
              <div elem="month">Июнь</div>
              <div elem="month" class="_is-active">Июль</div>
              <div elem="month">Август</div>
              <div elem="month">Сентябрь</div>
              <div elem="month">Октябрь</div>
              <div elem="month" mods="no-news">Ноябрь</div>
              <div elem="month" mods="no-news">Декабрь</div>
            </div>
          </div>
          <div elem="day-names">
            <div elem="day-name">ПН</div>
            <div elem="day-name">ВТ</div>
            <div elem="day-name">СР</div>
            <div elem="day-name">ЧТ</div>
            <div elem="day-name">ПТ</div>
            <div elem="day-name" mods="weekend">СБ</div>
            <div elem="day-name" mods="weekend">ВС</div>
          </div>
          <div elem="cells-days">
            <div elem="cell-day" mods="dey-another-month"><span>29</span></div>
            <div elem="cell-day" mods="dey-another-month"><span>30</span></div>
            <div elem="cell-day" mods="dey-another-month"><span>31</span></div>
            <div elem="cell-day"><span>1</span></div>
            <div elem="cell-day"><span>2</span></div>
            <div elem="cell-day" mods="no-news"><span>3</span></div>
            <div elem="cell-day" mods="no-news"><span>4</span></div>
            <div elem="cell-day"><span>5</span></div>
            <div elem="cell-day"><span>6</span></div>
            <div elem="cell-day"><span>7</span></div>
            <div elem="cell-day"><span>8</span></div>
            <div elem="cell-day"><span>9</span></div>
            <div elem="cell-day" mods="no-news"><span>10</span></div>
            <div elem="cell-day" mods="no-news"><span>11</span></div>
            <div elem="cell-day" class="_is-active"><span>12</span></div>
            <div elem="cell-day"><span>13</span></div>
            <div elem="cell-day" mods="no-news"><span>14</span></div>
            <div elem="cell-day" mods="no-news"><span>15</span></div>
            <div elem="cell-day"><span>16</span></div>
            <div elem="cell-day" mods="no-news"><span>17</span></div>
            <div elem="cell-day"><span>18</span></div>
            <div elem="cell-day" mods="no-news"><span>19</span></div>
            <div elem="cell-day" mods="no-news"><span>20</span></div>
            <div elem="cell-day" mods="no-news"><span>21</span></div>
            <div elem="cell-day" mods="no-news"><span>22</span></div>
            <div elem="cell-day" mods="no-news"><span>23</span></div>
            <div elem="cell-day" mods="no-news"><span>24</span></div>
            <div elem="cell-day" mods="no-news"><span>25</span></div>
            <div elem="cell-day" mods="no-news"><span>26</span></div>
            <div elem="cell-day" mods="no-news"><span>27</span></div>
            <div elem="cell-day" mods="no-news"><span>28</span></div>
            <div elem="cell-day" mods="no-news"><span>29</span></div>
            <div elem="cell-day" mods="no-news"><span>30</span></div>
            <div elem="cell-day" mods="dey-another-month"><span>1</span></div>
            <div elem="cell-day" mods="dey-another-month"><span>2</span></div>
          </div>
        </div>
      </div>
    </div>
    <div block="popup-news-day">
      <div elem="section">
        <button elem="button-close" class="js-popup-news-day-button-close" type="button"></button>
        <div elem="inner">
          <div elem="title-date">12.10.2022</div>
          <div elem="items" class="ss-container">
            <div elem="item">
              <a elem="name" href="#">Юбилей СКБ «Трансмаш-спецтехника»</a>
              <div elem="text">Компания отмечает 80-летний юбилей</div>
              <div elem="address">Москва, лужнецкая наб. д7</div>
              <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
            </div>
            <div elem="item">
              <a elem="name" href="#">Юбилей СКБ «Трансмаш-спецтехника»</a>
              <div elem="text">Компания отмечает 80-летний юбилей</div>
              <div elem="address">Москва, лужнецкая наб. д7</div>
              <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
            </div>
            <div elem="item">
              <a elem="name" href="#">Юбилей СКБ «Трансмаш-спецтехника»</a>
              <div elem="text">Компания отмечает 80-летний юбилей</div>
              <div elem="address">Москва, лужнецкая наб. д7</div>
              <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
            </div>
            <div elem="item">
              <a elem="name" href="#">Юбилей СКБ «Трансмаш-спецтехника»</a>
              <div elem="text">Компания отмечает 80-летний юбилей</div>
              <div elem="address">Москва, лужнецкая наб. д7</div>
              <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- popup-news-day -->
  </div><!-- news-calendar -->

  {% include "multimedia-block.html" %}

  {% include "subscribe-news.html" %}

{% endblock %}
