= yaml =
pageTitle: Медиа
bodyClasses:
layout: !!map
  header: true
  footer: true
  left: false
  right: false
= yaml =

{% extends 'app.html' %}


{% block main %}

  <div block="inner-header">
    <div elem="section">
      <div block="nav-direction">
        <div elem="section">
          <div elem="panel">
            <div elem="inner" class="contain">
              <div block="direction-name" mods="news">
                <div elem="section">
                  <h3>Медиа</h3>
                </div>
              </div><!-- direction-name -->
              <nav elem="nav">
                <ul>
                  <li class="_is-active"><a href="#">Новости</a></li>
                  <li><a href="#">Календарь событий</a></li>
                  <li><a href="#">Мультимедиа</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div><!-- nav-direction -->
    </div>
  </div><!-- inner-header -->

  {% include "media-news-detailed.html" %}

  <div block="media-news-single">
    <div elem="body" class="contain">
      <div elem="links">
        <a href="#">Следующая новость</a>
      </div>
      <div elem="content">
        <div elem="info">
          <div elem="date">
            <span>02.06</span>
            <span>16:53</span>
          </div>
          <a elem="name" href="#">
            Соосная схема: визитная карточка Камова
          </a>
          <div elem="tags">
            <a elem="tag" href="#"># авиация</a>
            <a elem="tag" href="#"># ОДК-Кузнецов</a>
          </div>
        </div>
        <a elem="img" href="#"><img src="img/media-news-single-img2.jpg" alt=""></a>
      </div>
    </div>
  </div><!-- media-news-single -->

{% endblock %}
