= yaml =
pageTitle: Медиа
bodyClasses:
layout: !!map
  header: true
  footer: true
  left: false
  right: false
= yaml =

{% extends 'app.html' %}


{% block main %}

  <div block="inner-header">
    <div elem="section">
      <div block="nav-direction">
        <div elem="section">
          <div elem="panel">
            <div elem="inner" class="contain">
              <div block="direction-name" mods="news">
                <div elem="section">
                  <h3>Медиа</h3>
                </div>
              </div><!-- direction-name -->
              <nav elem="nav">
                <ul>
                  <li class="_is-active"><a href="#">Новости</a></li>
                  <li><a href="#">Календарь событий</a></li>
                  <li><a href="#">Мультимедиа</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div><!-- nav-direction -->
    </div>
  </div><!-- inner-header -->

  <div block="media-news-detailed">
    <div elem="section">
      <div block="media-news-single">
        <div elem="body" class="contain">
          <div elem="links">
            <span>/ </span><a href="#">Новости</a><span> / </span>
          </div>
          <div elem="content">
            <div elem="info">
              <div elem="date">
                <span>02.06</span>
                <span>16:53</span>
              </div>
              <h2 elem="name">
                Двигатели ОДК обеспечили успешный старт ракеты «Союз-2.1б»
              </h2>
              <div elem="tags">
                <a elem="tag" href="#"># авиация</a>
                <a elem="tag" href="#"># ОДК-Кузнецов</a>
              </div>
            </div>
            <div elem="img"><img src="img/media-news-single-img.jpg" alt=""></div>
          </div>
        </div>
      </div><!-- media-news-single -->
      <div elem="inner" class="contain">
        <div elem="container">
          <div block="other-news">
            <div elem="section">
              <div elem="items" class="ss-container">
                <div elem="item">
                  <div elem="date">10.10.2022</div>
                  <a elem="name" href="#">
                    Династии Ростеха: Серегины – Елисеевы – Большаковы
                  </a>
                </div>
                <div elem="item">
                  <div elem="date">10.10.2022</div>
                  <a elem="name" href="#">
                    Невиданный «Беркут»: к 25-летию первого полета Су-47
                  </a>
                </div>
                <div elem="item">
                  <div elem="date">10.10.2022</div>
                  <a elem="name" href="#">
                    Профессии Ростеха: испытатель танков
                  </a>
                </div>
                <div elem="item">
                  <div elem="date">10.10.2022</div>
                  <a elem="name" href="#">
                    Ростех сдал «под ключ» уникальный агрегат на газовом месторождении НОВАТЭКа
                  </a>
                </div>
                <div elem="item">
                  <div elem="date">10.10.2022</div>
                  <a elem="name" href="#">
                    Династии Ростеха: Серегины – Елисеевы – Большаковы
                  </a>
                </div>
                <div elem="item">
                  <div elem="date">10.10.2022</div>
                  <a elem="name" href="#">
                    Невиданный «Беркут»: к 25-летию первого полета Су-47
                  </a>
                </div>
                <div elem="item">
                  <div elem="date">10.10.2022</div>
                  <a elem="name" href="#">
                    Профессии Ростеха: испытатель танков
                  </a>
                </div>
              </div>
            </div>
          </div><!-- other-news -->
          <div elem="content">
            <h3>
              Серийные ракетные двигатели РД-107А/108А, произведенные самарским предприятием «ОДК-Кузнецов» Объединенной
              двигателестроительной корпорации Ростеха, обеспечили успешный старт ракеты «Союз-2.1б» с навигационным
              космическим
              аппаратом «ГЛОНАСС-К».
            </h3>
            <p>
              Спутник «ГЛОНАСС-К», предназначенный для развития орбитальной группировки системы ГЛОНАСС, пополнил группировку из 25
              спутников, находящихся на орбите.
            </p>
            <p>
              В экспозиции представлено современное стрелковое оружие, в том числе автоматы Калашникова двухсотой серии, АК-12 и
              АК-15, а также другое оружие, предназначенное для полицейских и специальных подразделений. Среди демонстрируемых
              образцов – имеющие высокий экспортный потенциал самозарядный пистолет СР.1М, пистолеты-пулеметы ПП-2000 и СР.2М,
              модернизированный малогабаритный автомат СР.3М и способный стрелять под водой автомат АДС. Также гостям выставки покажут
              модернизированную специальную снайперскую винтовку ВССМ, магазинный гранатомет ГМ-94 и штурмовой автоматный комплекс
              ШАК-12 калибра 12,7 мм.
            </p>
            <p style="margin-bottom: 0;">
              «Представляемые «Рособоронэкспортом» образцы российского стрелкового оружия пользуются большой популярностью у силовых
              ведомств наших партнеров
            </p>
            <ul>
              <li><p>на Ближнем Востоке,</p></li>
              <li><p>в странах Африки,</p></li>
              <li><p>Азиатско-Тихоокеанского региона</p></li>
              <li><p>Латинской Америки.</p></li>
            </ul>
            <p>
              Они отлично зарекомендовали себя в профессиональной среде – у специальных подразделений, групп антитеррора и полиции, –
              сообщил генеральный директор «Рособоронэкспорта» Александр Михеев. – Кроме этого, мы покажем широкую линейку средств
              обеспечения безопасности, гражданское оружие, полицейскую и охранную амуницию, выставим ряд новинок, в том числе новую
              снайперскую винтовку ORSIS калибра 12,7 мм. Предложим различные решения по кибербезопасности, охране объектов и
              территорий, мониторинга городской среды».
            </p>
            <h2>H2 Впервые экспонируемая на «Интерполитехе» винтовка ORSIS 12,7</h2>
            <ol>
              <li>
                <p>
                  Кроме того, на стенде «Рособоронэкспорта» будет демонстрироваться различное оборудование и снаряжение для охранных
                  структур, полицейских и специальных подразделений.
                </p>
              </li>
              <li>
                <p>
                  Выставляемые на «Интерполитехе» образцы можно будет увидеть на сайте и в аккаунтах «Рособоронэкспорта» в соцсетях в
                  подробных видеообзорах, презентациях и в каталогах.
                </p>
              </li>
              <li>
                <p>
                  В ходе деловой программы выставки «Рособоронэкспорт» запланировал встречи и переговоры с приглашенными на «Интерполитех»
                  партнерами.
                </p>
              </li>
              <li>
                <p>
                  Образец нового поколения высокоточных снайперских винтовок, способных решать контрснайперские задачи и поражать
                  легкобронированную технику
                </p>
              </li>
              <li>
                <p>
                  «Представляемые «Рособоронэкспортом» образцы российского стрелкового оружия пользуются большой популярностью у силовых
                  ведомств наших партнеров.
                </p>
              </li>
            </ol>
            <h3>H3 Танк Т-90 отмечает юбилей</h3>
            <h4>H4 Концерн «Калашников» увеличил выпуск стрелкового оружия на 40%</h4>
            <h5>
              H5 «Рособоронэкспорт» представит актуальную для стран Каспия продукцию на ADEX 2022
            </h5>
            <h6>H6 «Омсктрансмаш» поставил Минобороны партию ТОС-1А</h6>
            <p>
              Модификациями двигательных установок РД-107А/РД-108А оснащаются I и II ступени всех ракет-носителей типа Р-7 (в том
              числе и ракеты-носители типа «Союз») с 1958 года. В настоящее время данные двигатели серийно производятся ПАО
              «ОДК-Кузнецов» при конструкторском сопровождении разработчика АО «НПО Энергомаш» им. академика В.П. Глушко».
              Статистическая надежность изделий превышает 99,9%.
            </p>
            <div elem="img-content">
              <img src="img/plug-pic.jpg" width="376" height="286" alt="">
              <span>«Омсктрансмаш» поставил Минобороны партию ТОС-1А</span>
            </div>
            <p>
              Кроме того, на стенде «Рособоронэкспорта» будет демонстрироваться различное оборудование и снаряжение для охранных
              структур, полицейских и специальных подразделений. Среди экспонатов – средства связи, электрошоковые устройства,
              детекторы металлов, взрывчатых и токсичных веществ, тепловизионные насадки и прицелы, бронежилеты, тактические шлемы и
              средства противодействия беспилотным летательным аппаратам.
            </p>
            <p>
              В ходе деловой программы выставки «Рособоронэкспорт» запланировал встречи и переговоры с приглашенными на «Интерполитех»
              партнерами.
            </p>
            <p>
              «Рособоронэкспорт» покажет также другие новинки российских оборонных предприятий, например комплекс средств
              индивидуальной защиты КИБ-10 и сверхлегкий тактический щит «Спарта 10». Еще один дебют «Интерполитеха» – широкоугольные
              очки ночного видения ИТ-ОНВ-01, которые предназначены для управления боевыми машинами на скорости до 90 км/ч с
              выключенными световыми приборами. Очки также позволяют вести визуальное наблюдение, ориентироваться на местности,
              обеспечивать работу с прицелами стрелкового оружия и гранатометов.
            </p>
            <p>
              Также компания представит гостям выставки российские разработки в области стрелковой подготовки подразделений и
              отдельных военнослужащих, в том числе тренажеры «Рубеж» и ТЭСТ-Э, средства обнаружения и подавления самодельных взрывных
              устройств и комплексы разминирования, например прошедший испытания в реальных боевых условиях многофункциональный
              робототехнический комплекс разминирования «Уран-6».
            </p>
            <div elem="img-info">
              <img src="img/plug-full-pic.jpg" alt="">
              <span>
                «Представляемые «Рособоронэкспортом» образцы российского стрелкового оружия пользуются большой популярностью у силовых
                ведомств наших партнеров.
              </span>
            </div>
            <p>
              Впервые экспонируемая на «Интерполитехе» винтовка ORSIS 12,7
              – образец нового поколения высокоточных снайперских винтовок, способных решать контрснайперские задачи и поражать
              легкобронированную технику.
            </p>
            <p>
              Выставляемые на «Интерполитехе» образцы можно будет увидеть на сайте и в аккаунтах «Рособоронэкспорта» в соцсетях в
              подробных видеообзорах, презентациях и в каталогах.
            </p>
            <p>
              В ходе деловой программы выставки «Рособоронэкспорт» запланировал встречи и переговоры с приглашенными на «Интерполитех»
              партнерами.
            </p>
            <div class="gallery">
              <div class="swiper js-gallery-content-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="slider-img">
                      <img src="img/plug-full-pic.jpg" alt="">
                    </div>
                    <span>
                      «Представляемые «Рособоронэкспортом» образцы российского стрелкового оружия пользуются большой популярностью у силовых
                      ведомств наших партнеров.
                    </span>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider-img">
                      <img src="img/plug-full-pic.jpg" alt="">
                    </div>
                    <span>
                      «Представляемые «Рособоронэкспортом» образцы российского стрелкового оружия пользуются большой популярностью у силовых
                      ведомств наших партнеров. 2
                    </span>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider-img">
                      <img src="img/plug-full-pic.jpg" alt="">
                    </div>
                    <span>
                      «Представляемые «Рособоронэкспортом» образцы российского стрелкового оружия пользуются большой популярностью у силовых
                      ведомств наших партнеров. 3
                    </span>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider-img">
                      <img src="img/plug-full-pic.jpg" alt="">
                    </div>
                    <span>
                      «Представляемые «Рособоронэкспортом» образцы российского стрелкового оружия пользуются большой популярностью у силовых
                      ведомств наших партнеров. 4
                    </span>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
            <p>
              Модификациями двигательных установок РД-107А/РД-108А оснащаются I и II ступени всех ракет-носителей типа Р-7 (в том
              числе и ракеты-носители типа «Союз») с 1958 года. В настоящее время данные двигатели серийно производятся ПАО
              «ОДК-Кузнецов» при конструкторском сопровождении разработчика АО «НПО Энергомаш» им. академика В.П. Глушко».
              Статистическая надежность изделий превышает 99,9%.
            </p>
            <p>
              Запуск состоялся с пусковой установки Государственного испытательного космодрома «Плесецк» в Архангельской области 10
              октября в 5:52 по московскому времени. Установленные на I и II ступенях ракеты-носителя «Союз-2.1б» двигатели
              производства «ОДК-Кузнецов» отработали штатно. Космический аппарат выведен на целевую орбиту в расчетное время.
            </p>
            <table>
              <thead>
                <tr>
                  <th>Заголовок 1</th>
                  <th>Заголовок 2</th>
                  <th>Заголовок 3</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Строка 1</td>
                  <td>Строка 1</td>
                  <td>Строка 1</td>
                </tr>
                <tr>
                  <td>Строка 2</td>
                  <td>Строка 2</td>
                  <td>Строка 2</td>
                </tr>
                <tr>
                  <td>Строка 3</td>
                  <td>Строка 3</td>
                  <td>Строка 3</td>
                </tr>
              </tbody>
            </table>
            <p>
              Спутник «ГЛОНАСС-К», предназначенный для развития орбитальной группировки системы ГЛОНАСС, пополнил группировку из 25
              спутников, находящихся на орбите.
            </p>
            <p>
              Модификациями двигательных установок РД-107А/РД-108А оснащаются I и II ступени всех ракет-носителей типа Р-7 (в том
              числе и ракеты-носители типа «Союз») с 1958 года. В настоящее время данные двигатели серийно производятся ПАО
              «ОДК-Кузнецов» при конструкторском сопровождении разработчика АО «НПО Энергомаш» им. академика В.П. Глушко».
              Статистическая надежность изделий превышает 99,9%.
            </p>
            <blockquote elem="quote">
              <p>
                Представляемые «Рособоронэкспортом» образцы российского стрелкового оружия пользуются большой популярностью у силовых
                ведомств наших партнеров на Ближнем Востоке, в странах Африки, Азиатско-Тихоокеанского региона и Латинской Америки. Они
                отлично зарекомендовали себя в профессиональной среде – у специальных подразделений, групп антитеррора и полиции.
              </p>
              <strong>Александр Михеев</strong>
              <span>генеральный директор «Рособоронэкспорта»</span>
            </blockquote>
            <p>
              Запуск состоялся с пусковой установки Государственного испытательного космодрома «Плесецк» в Архангельской области 10
              октября в 5:52 по московскому времени. Установленные на I и II ступенях ракеты-носителя «Союз-2.1б» двигатели
              производства «ОДК-Кузнецов» отработали штатно. Космический аппарат выведен на целевую орбиту в расчетное время.
            </p>
            <p>
              Компания «Рособоронэкспорт» Госкорпорации Ростех организует объединенную экспозицию российской продукции военного
              назначения на XXVI Международной выставке средств обеспечения безопасности государства «Интерполитех-2022», которая
              пройдет с 18 по 20 октября 2022 года в Международном выставочном центре «Крокус Экспо».
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- media-news-detailed -->

  <div block="media-news-single">
    <div elem="body" class="contain">
      <div elem="links">
        <a href="#">Следующая новость</a>
      </div>
      <div elem="content">
        <div elem="info">
          <div elem="date">
            <span>02.06</span>
            <span>16:53</span>
          </div>
          <a elem="name" href="#">
            Соосная схема: визитная карточка Камова
          </a>
          <div elem="tags">
            <a elem="tag" href="#"># авиация</a>
            <a elem="tag" href="#"># ОДК-Кузнецов</a>
          </div>
        </div>
        <a elem="img" href="#"><img src="img/media-news-single-img2.jpg" alt=""></a>
      </div>
    </div>
  </div><!-- media-news-single -->

{% endblock %}
