= yaml =
pageTitle: Медиа
bodyClasses:
layout: !!map
  header: true
  footer: true
  left: false
  right: false
= yaml =

{% extends 'app.html' %}


{% block main %}

  <div block="inner-header">
    <div elem="section">
      <div block="nav-direction">
        <div elem="section">
          <div elem="panel">
            <div elem="inner" class="contain">
              <div block="direction-name" mods="news">
                <div elem="section">
                  <h3>Медиа</h3>
                </div>
              </div><!-- direction-name -->
              <nav elem="nav">
                <ul>
                  <li><a href="#">Новости</a></li>
                  <li><a href="#">Календарь событий</a></li>
                  <li class="_is-active"><a href="#">Мультимедиа</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div><!-- nav-direction -->
    </div>
  </div><!-- inner-header -->

  <div block="news-list">
    <div elem="section">
      <div elem="inner" class="contain">
        <div elem="head">
          <h2>Мультимедиа</h2>
        </div>
        <div block="sorting-panel">
          <div elem="section">
            <form elem="form">
              <div elem="container">
                <div elem="search">
                  <div elem="field">
                    <input type="text" placeholder="Найти">
                    <button elem="button-search" type="submit"></button>
                  </div>
                </div>
                <div elem="date">
                  <div elem="field">
                    <input type="text" class="js-choice-date" readonly placeholder="Дата">
                    <i></i>
                  </div>
                </div>
                <div elem="categories">
                  <div elem="field">
                    <div elem="choice-categories js-choice-category" data-categories="">
                      <span>
                        Тип
                      </span>
                      <i></i>
                    </div>
                    <div elem="categories-list" class="js-news-categories">
                      <ul>
                        <li class="js-news-category" data-category="Авиация">
                          <span>Авиация</span>
                        </li>
                        <li class="js-news-category" data-category="Транспорт">
                          <span>Транспорт</span>
                        </li>
                        <li class="js-news-category" data-category="ИТ и Телеком">
                          <span>ИТ и Телеком</span>
                        </li>
                        <li class="js-news-category" data-category="Здравоохранение">
                          <span>Здравоохранение</span>
                        </li>
                        <li class="js-news-category" data-category="Экология">
                          <span>Экология</span>
                        </li>
                        <li class="js-news-category" data-category="HR">
                          <span>HR</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div><!-- sorting-panel -->
        <div elem="items">
          <div elem="item">
            <div block="multimedia-thumb" mods="photo">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3127" fill="white">
                        <rect y="2" width="20" height="15" rx="1" />
                      </mask>
                      <rect y="2" width="20" height="15" rx="1" stroke="#101820" stroke-width="4"
                        mask="url(#path-1-inside-1_2164_3127)" />
                      <circle cx="6.5" cy="8.5" r="2.5" fill="#101820" />
                      <path d="M2 16C2 13.7909 3.79086 12 6 12H7C9.20914 12 11 13.7909 11 16V16H2V16Z" fill="#101820" />
                    </svg>
                    <span>23</span>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="video">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img2.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3139" fill="white">
                        <rect width="20" height="20" rx="1" />
                      </mask>
                      <rect width="20" height="20" rx="1" stroke="#101820" stroke-width="4"
                        mask="url(#path-1-inside-1_2164_3139)" />
                      <path
                        d="M15.25 9.56699C15.5833 9.75944 15.5833 10.2406 15.25 10.433L7.75 14.7631C7.41667 14.9556 7 14.715 7 14.3301L7 5.66987C7 5.28497 7.41667 5.04441 7.75 5.23686L15.25 9.56699Z"
                        fill="#101820" />
                    </svg>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="info">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img3.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3141" fill="white">
                        <path
                          d="M10.5 -4.15258e-07C11.7476 -4.69791e-07 12.9829 0.245725 14.1355 0.723144C15.2881 1.20056 16.3354 1.90033 17.2175 2.78249C18.0997 3.66464 18.7994 4.71191 19.2769 5.86451C19.7543 7.0171 20 8.25244 20 9.5L10.5 9.5L10.5 -4.15258e-07Z" />
                      </mask>
                      <path
                        d="M10.5 -4.15258e-07C11.7476 -4.69791e-07 12.9829 0.245725 14.1355 0.723144C15.2881 1.20056 16.3354 1.90033 17.2175 2.78249C18.0997 3.66464 18.7994 4.71191 19.2769 5.86451C19.7543 7.0171 20 8.25244 20 9.5L10.5 9.5L10.5 -4.15258e-07Z"
                        stroke="#101820" stroke-width="4" mask="url(#path-1-inside-1_2164_3141)" />
                      <path
                        d="M17 10.5C17 11.9834 16.5601 13.4334 15.736 14.6668C14.9119 15.9001 13.7406 16.8614 12.3701 17.4291C10.9997 17.9968 9.49168 18.1453 8.03682 17.8559C6.58196 17.5665 5.24559 16.8522 4.1967 15.8033C3.14781 14.7544 2.4335 13.418 2.14411 11.9632C1.85472 10.5083 2.00325 9.00032 2.5709 7.62987C3.13856 6.25943 4.09985 5.08809 5.33322 4.26398C6.56659 3.43987 8.01664 3 9.5 3V10.5H17Z"
                        fill="#101820" />
                    </svg>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="photo">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3127" fill="white">
                        <rect y="2" width="20" height="15" rx="1" />
                      </mask>
                      <rect y="2" width="20" height="15" rx="1" stroke="#101820" stroke-width="4"
                        mask="url(#path-1-inside-1_2164_3127)" />
                      <circle cx="6.5" cy="8.5" r="2.5" fill="#101820" />
                      <path d="M2 16C2 13.7909 3.79086 12 6 12H7C9.20914 12 11 13.7909 11 16V16H2V16Z" fill="#101820" />
                    </svg>
                    <span>23</span>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="video">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img2.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3139" fill="white">
                        <rect width="20" height="20" rx="1" />
                      </mask>
                      <rect width="20" height="20" rx="1" stroke="#101820" stroke-width="4"
                        mask="url(#path-1-inside-1_2164_3139)" />
                      <path
                        d="M15.25 9.56699C15.5833 9.75944 15.5833 10.2406 15.25 10.433L7.75 14.7631C7.41667 14.9556 7 14.715 7 14.3301L7 5.66987C7 5.28497 7.41667 5.04441 7.75 5.23686L15.25 9.56699Z"
                        fill="#101820" />
                    </svg>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="info">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img3.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3141" fill="white">
                        <path
                          d="M10.5 -4.15258e-07C11.7476 -4.69791e-07 12.9829 0.245725 14.1355 0.723144C15.2881 1.20056 16.3354 1.90033 17.2175 2.78249C18.0997 3.66464 18.7994 4.71191 19.2769 5.86451C19.7543 7.0171 20 8.25244 20 9.5L10.5 9.5L10.5 -4.15258e-07Z" />
                      </mask>
                      <path
                        d="M10.5 -4.15258e-07C11.7476 -4.69791e-07 12.9829 0.245725 14.1355 0.723144C15.2881 1.20056 16.3354 1.90033 17.2175 2.78249C18.0997 3.66464 18.7994 4.71191 19.2769 5.86451C19.7543 7.0171 20 8.25244 20 9.5L10.5 9.5L10.5 -4.15258e-07Z"
                        stroke="#101820" stroke-width="4" mask="url(#path-1-inside-1_2164_3141)" />
                      <path
                        d="M17 10.5C17 11.9834 16.5601 13.4334 15.736 14.6668C14.9119 15.9001 13.7406 16.8614 12.3701 17.4291C10.9997 17.9968 9.49168 18.1453 8.03682 17.8559C6.58196 17.5665 5.24559 16.8522 4.1967 15.8033C3.14781 14.7544 2.4335 13.418 2.14411 11.9632C1.85472 10.5083 2.00325 9.00032 2.5709 7.62987C3.13856 6.25943 4.09985 5.08809 5.33322 4.26398C6.56659 3.43987 8.01664 3 9.5 3V10.5H17Z"
                        fill="#101820" />
                    </svg>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="photo">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3127" fill="white">
                        <rect y="2" width="20" height="15" rx="1" />
                      </mask>
                      <rect y="2" width="20" height="15" rx="1" stroke="#101820" stroke-width="4"
                        mask="url(#path-1-inside-1_2164_3127)" />
                      <circle cx="6.5" cy="8.5" r="2.5" fill="#101820" />
                      <path d="M2 16C2 13.7909 3.79086 12 6 12H7C9.20914 12 11 13.7909 11 16V16H2V16Z" fill="#101820" />
                    </svg>
                    <span>23</span>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="video">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img2.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3139" fill="white">
                        <rect width="20" height="20" rx="1" />
                      </mask>
                      <rect width="20" height="20" rx="1" stroke="#101820" stroke-width="4"
                        mask="url(#path-1-inside-1_2164_3139)" />
                      <path
                        d="M15.25 9.56699C15.5833 9.75944 15.5833 10.2406 15.25 10.433L7.75 14.7631C7.41667 14.9556 7 14.715 7 14.3301L7 5.66987C7 5.28497 7.41667 5.04441 7.75 5.23686L15.25 9.56699Z"
                        fill="#101820" />
                    </svg>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="info">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img3.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3141" fill="white">
                        <path
                          d="M10.5 -4.15258e-07C11.7476 -4.69791e-07 12.9829 0.245725 14.1355 0.723144C15.2881 1.20056 16.3354 1.90033 17.2175 2.78249C18.0997 3.66464 18.7994 4.71191 19.2769 5.86451C19.7543 7.0171 20 8.25244 20 9.5L10.5 9.5L10.5 -4.15258e-07Z" />
                      </mask>
                      <path
                        d="M10.5 -4.15258e-07C11.7476 -4.69791e-07 12.9829 0.245725 14.1355 0.723144C15.2881 1.20056 16.3354 1.90033 17.2175 2.78249C18.0997 3.66464 18.7994 4.71191 19.2769 5.86451C19.7543 7.0171 20 8.25244 20 9.5L10.5 9.5L10.5 -4.15258e-07Z"
                        stroke="#101820" stroke-width="4" mask="url(#path-1-inside-1_2164_3141)" />
                      <path
                        d="M17 10.5C17 11.9834 16.5601 13.4334 15.736 14.6668C14.9119 15.9001 13.7406 16.8614 12.3701 17.4291C10.9997 17.9968 9.49168 18.1453 8.03682 17.8559C6.58196 17.5665 5.24559 16.8522 4.1967 15.8033C3.14781 14.7544 2.4335 13.418 2.14411 11.9632C1.85472 10.5083 2.00325 9.00032 2.5709 7.62987C3.13856 6.25943 4.09985 5.08809 5.33322 4.26398C6.56659 3.43987 8.01664 3 9.5 3V10.5H17Z"
                        fill="#101820" />
                    </svg>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="photo">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3127" fill="white">
                        <rect y="2" width="20" height="15" rx="1" />
                      </mask>
                      <rect y="2" width="20" height="15" rx="1" stroke="#101820" stroke-width="4"
                        mask="url(#path-1-inside-1_2164_3127)" />
                      <circle cx="6.5" cy="8.5" r="2.5" fill="#101820" />
                      <path d="M2 16C2 13.7909 3.79086 12 6 12H7C9.20914 12 11 13.7909 11 16V16H2V16Z" fill="#101820" />
                    </svg>
                    <span>23</span>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="video">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img2.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3139" fill="white">
                        <rect width="20" height="20" rx="1" />
                      </mask>
                      <rect width="20" height="20" rx="1" stroke="#101820" stroke-width="4"
                        mask="url(#path-1-inside-1_2164_3139)" />
                      <path
                        d="M15.25 9.56699C15.5833 9.75944 15.5833 10.2406 15.25 10.433L7.75 14.7631C7.41667 14.9556 7 14.715 7 14.3301L7 5.66987C7 5.28497 7.41667 5.04441 7.75 5.23686L15.25 9.56699Z"
                        fill="#101820" />
                    </svg>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
          <div elem="item">
            <div block="multimedia-thumb" mods="info">
              <div elem="body">
                <div elem="info">
                  <div elem="date">02.06</div>
                </div>
                <div elem="img-wrapper">
                  <a elem="img" href="#">
                    <img src="img/news-thumb-img3.jpg" alt="">
                  </a>
                  <i elem="icon">
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="path-1-inside-1_2164_3141" fill="white">
                        <path
                          d="M10.5 -4.15258e-07C11.7476 -4.69791e-07 12.9829 0.245725 14.1355 0.723144C15.2881 1.20056 16.3354 1.90033 17.2175 2.78249C18.0997 3.66464 18.7994 4.71191 19.2769 5.86451C19.7543 7.0171 20 8.25244 20 9.5L10.5 9.5L10.5 -4.15258e-07Z" />
                      </mask>
                      <path
                        d="M10.5 -4.15258e-07C11.7476 -4.69791e-07 12.9829 0.245725 14.1355 0.723144C15.2881 1.20056 16.3354 1.90033 17.2175 2.78249C18.0997 3.66464 18.7994 4.71191 19.2769 5.86451C19.7543 7.0171 20 8.25244 20 9.5L10.5 9.5L10.5 -4.15258e-07Z"
                        stroke="#101820" stroke-width="4" mask="url(#path-1-inside-1_2164_3141)" />
                      <path
                        d="M17 10.5C17 11.9834 16.5601 13.4334 15.736 14.6668C14.9119 15.9001 13.7406 16.8614 12.3701 17.4291C10.9997 17.9968 9.49168 18.1453 8.03682 17.8559C6.58196 17.5665 5.24559 16.8522 4.1967 15.8033C3.14781 14.7544 2.4335 13.418 2.14411 11.9632C1.85472 10.5083 2.00325 9.00032 2.5709 7.62987C3.13856 6.25943 4.09985 5.08809 5.33322 4.26398C6.56659 3.43987 8.01664 3 9.5 3V10.5H17Z"
                        fill="#101820" />
                    </svg>
                  </i>
                </div>
                <a elem="text" href="#">
                  Визит Сергея Чемезова на КНААЗ и на производственный центр «Иркут-Региональные самолеты»
                </a>
                <div elem="address">Москва, лужнецкая наб. д7</div>
                <div elem="event">12 октября 2022 с 18:00 до 22:00</div>
              </div>
            </div><!-- multimedia-thumb -->
          </div>
        </div>
      </div>
    </div>
    <a elem="more" href="#">Показать больше</a>
  </div><!-- news-list -->

  {% include "subscribe-news.html" %}

{% endblock %}
