= yaml =
pageTitle: Главная
bodyClasses:
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}


{% block main %}

    {% include "new-hero.html" %}

    <div block="main-news" mods="extra">
        <div elem="section">
            <div elem="inner">
                <div elem="head">
                    <div elem="title">
                        <h2>Ростех сегодня</h2>
                        <div elem="current-date">12.06<small>ПН</small></div>
                        <a elem="other-date" class="js-choose-date" href="#"></a>
                    </div>
                    <a elem="all" href="#">Все медиа</a>
                </div>
                {% include "news-calendar.html" %}
            </div>
            <div elem="container">
                <div elem="item">
                    <div block="main-news-thumb">
                        <div elem="body">
                            <div elem="img">
                                <img src="img/main-news-thumb-img.jpg" alt="">
                            </div>
                            <div elem="date">
                                <span>02.06</span>
                                <span>16:53</span>
                            </div>
                            <a elem="name" href="#">
                                Ростех представил на ПМЭФ «Дом будущего» с живым концертом электронной музыки
                            </a>
                            <div elem="text">
                                Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                стали для авиационной и космической
                                индустрии.
                            </div>
                            <div elem="tags">
                                <a elem="tag" href="#"># ПМЭФ</a>
                            </div>
                            <a elem="more" href="#"></a>
                        </div>
                    </div><!-- main-news-thumb -->
                </div>
                <div elem="wrapper">
                    <div elem="slider" class="swiper js-main-news-slider">
                        <div elem="items" class="swiper-wrapper">
                            <div elem="item" class="swiper-slide">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            Ростех представил на ПМЭФ «Дом будущего» с живым концертом электронной музыки
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># ПМЭФ</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                            <div elem="item" class="swiper-slide">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img2.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            «РТ-Техприемка» представила информационную платформу для финактивов
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># РТ-Техприемка</a>
                                            <a elem="tag" href="#"># Техприемка</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                            <div elem="item" class="swiper-slide">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img3.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            ЧТЗ представит на «Иннопроме» «электротрактор»
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># Уралвагонзавод</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                            <div elem="item" class="swiper-slide">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img4.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            Ростех разработал вакуумный 3D-принтер с роботом-манипулятором
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># РТ-Капитал</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                            <div elem="item" class="swiper-slide">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            Ростех представил на ПМЭФ «Дом будущего» с живым концертом электронной музыки
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># ПМЭФ</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                            <div elem="item" class="swiper-slide last">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            Ростех представил на ПМЭФ «Дом будущего» с живым концертом электронной музыки
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># ПМЭФ</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div><!-- main-news -->

    {% include "new-direction-activity.html" %}
    
    <div block="subscribe-news" mods="social">
        <div elem="section">
            <div elem="inner" class="contain">
                <div elem="wrapper">
                    <div elem="head">
                        <div elem="title">На связи в <br> соцсетях</div>
                        <div elem="links">
                            <a href="#"><span>VK</span></a>
                            <a href="#"><span>Rutube</span></a>
                            <a href="#">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_3004_6618)">
                                        <circle cx="1" cy="10" r="1" fill="#A39061" />
                                        <path
                                            d="M-3.98807e-09 6C0.656609 6 1.30679 6.12933 1.91342 6.3806C2.52005 6.63188 3.07124 7.00017 3.53553 7.46447C3.99983 7.92876 4.36812 8.47996 4.6194 9.08658C4.87067 9.69321 5 10.3434 5 11"
                                            stroke="#A39061" stroke-width="2" />
                                        <path
                                            d="M-8.30516e-07 2C1.1819 2 2.35222 2.23279 3.44415 2.68508C4.53608 3.13738 5.52823 3.80031 6.36396 4.63604C7.19969 5.47177 7.86262 6.46392 8.31492 7.55585C8.76721 8.64778 9 9.8181 9 11"
                                            stroke="#A39061" stroke-width="2" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_3004_6618">
                                            <rect width="14" height="14" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
    
                                <span>RSS</span>
                            </a>
                        </div>
                    </div>
                    <div elem="head">
                        <div elem="title">Подписаться <br> на новости</div>
                        <div elem="desc">
                            Актуальная информация от лидеров промышленности России
                        </div>
                    </div>
                    <form elem="form">
                        <div elem="fields">
                            <div elem="field">
                                <div elem="choice-direction" class="js-choice-direction"
                                    data-all-direction="Новости всех направлений">
                                    <span data-choice-directions="Новости всех направлений">
                                        Новости всех направлений
                                    </span>
                                    <i></i>
                                </div>
                                <div elem="directions" class="js-subscribe-directions">
                                    <ul>
                                        <li class="js-subscribe-direction" data-direction="Авиация">
                                            <span>Авиация</span>
                                        </li>
                                        <li class="js-subscribe-direction" data-direction="Транспорт">
                                            <span>Транспорт</span>
                                        </li>
                                        <li class="js-subscribe-direction" data-direction="ИТ и Телеком">
                                            <span>ИТ и Телеком</span>
                                        </li>
                                        <li class="js-subscribe-direction" data-direction="Здравоохранение">
                                            <span>Здравоохранение</span>
                                        </li>
                                        <li class="js-subscribe-direction" data-direction="Экология">
                                            <span>Экология</span>
                                        </li>
                                        <li class="js-subscribe-direction" data-direction="HR">
                                            <span>HR</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div elem="field">
                                <div elem="input">
                                    <input type="email" placeholder="Введите ваш email">
                                    <button elem="button-submit" type="submit"></button>
                                </div>
                                <span elem="text-error">Текст ошибки</span>
                                <span elem="note">Без спама, один раз в неделю, только самое интересное</span>
                            </div>
                        </div>
                        <div elem="success">
                            <i elem="icon-success"></i>
                            <span>
                                Спасибо! Мы сохарнили вашу электронную почту и будем присылать самые актуальные новости по
                                вашим
                                предпочтениям
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- subscribe-news -->

{% endblock %}
