= yaml =
pageTitle: Главная
bodyClasses:
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}


{% block main %}

    {% include "new-hero.html" %}

    <div block="main-news" mods="extra">
        <div elem="section">
            <div elem="inner">
                <div elem="head">
                    <div elem="title">
                        <h2>Ростех сегодня</h2>
                        <div elem="current-date">12.06<small>ПН</small></div>
                        <a elem="other-date" class="js-choose-date" href="#"></a>
                    </div>
                    <a elem="all" href="#">Все медиа</a>
                </div>
                {% include "news-calendar.html" %}
            </div>
            <div elem="container">
                <div elem="item">
                    <div block="main-news-thumb">
                        <div elem="body">
                            <div elem="img">
                                <img src="img/main-news-thumb-img.jpg" alt="">
                            </div>
                            <div elem="date">
                                <span>02.06</span>
                                <span>16:53</span>
                            </div>
                            <a elem="name" href="#">
                                Ростех представил на ПМЭФ «Дом будущего» с живым концертом электронной музыки
                            </a>
                            <div elem="text">
                                Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                стали для авиационной и космической
                                индустрии.
                            </div>
                            <div elem="tags">
                                <a elem="tag" href="#"># ПМЭФ</a>
                            </div>
                            <a elem="more" href="#"></a>
                        </div>
                    </div><!-- main-news-thumb -->
                </div>
                <div elem="wrapper">
                    <div elem="slider" class="swiper js-main-news-slider">
                        <div elem="items" class="swiper-wrapper">
                            <div elem="item" class="swiper-slide">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            Ростех представил на ПМЭФ «Дом будущего» с живым концертом электронной музыки
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># ПМЭФ</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                            <div elem="item" class="swiper-slide">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img2.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            «РТ-Техприемка» представила информационную платформу для финактивов
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># РТ-Техприемка</a>
                                            <a elem="tag" href="#"># Техприемка</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                            <div elem="item" class="swiper-slide">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img3.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            ЧТЗ представит на «Иннопроме» «электротрактор»
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># Уралвагонзавод</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                            <div elem="item" class="swiper-slide">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img4.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            Ростех разработал вакуумный 3D-принтер с роботом-манипулятором
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># РТ-Капитал</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                            <div elem="item" class="swiper-slide">
                                <div block="main-news-thumb">
                                    <div elem="body">
                                        <div elem="img">
                                            <img src="img/main-news-thumb-img.jpg" alt="">
                                        </div>
                                        <div elem="date">
                                            <span>02.06</span>
                                            <span>16:53</span>
                                        </div>
                                        <a elem="name" href="#">
                                            Ростех представил на ПМЭФ «Дом будущего» с живым концертом электронной музыки
                                        </a>
                                        <div elem="text">
                                            Оборудование позволяет «выращивать» сверхпрочные детали из титана и жаропрочной
                                            стали для авиационной и космической
                                            индустрии.
                                        </div>
                                        <div elem="tags">
                                            <a elem="tag" href="#"># ПМЭФ</a>
                                        </div>
                                        <a elem="more" href="#"></a>
                                    </div>
                                </div><!-- main-news-thumb -->
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div><!-- main-news -->

    {% include "new-direction-activity.html" %}
    
    {% include "subscribe-news.html" %}

{% endblock %}
