= yaml =
pageTitle: Продукты и проекты
bodyClasses:
layout: !!map
  header: true
  footer: true
  left: false
  right: false
= yaml =

{% extends 'app.html' %}


{% block main %}

  <div block="inner-header">
    <div elem="section">
      <div block="nav-direction">
        <div elem="section">
          <div elem="panel">
            <div elem="inner" class="contain">
              <div block="direction-name">
                <div elem="section">
                  <a elem="other" href="#" class="js-direction-other-name"></a>
                  <h3>Авиация</h3>
                  <div elem="list" class="js-direction-list">
                    <ul>
                      <li class="_is-active"><a href="#"><span>Авиация</span></a></li>
                      <li><a href="#"><span>Транспорт</span></a></li>
                      <li><a href="#"><span>ИТ и Телеком</span></a></li>
                      <li><a href="#"><span>Здравоохранение</span></a></li>
                      <li><a href="#"><span>Экология</span></a></li>
                      <li><a href="#"><span>HR</span></a></li>
                    </ul>
                  </div>
                </div>
              </div><!-- direction-name -->
              <nav elem="nav">
                <ul>
                  <li><a href="#">направления</a></li>
                  <li><a href="#">структура</a></li>
                  <li class="_is-active"><a href="#">продукты и проекты</a></li>
                  <li><a href="#">деятельность</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div><!-- nav-direction -->
      <div elem="inner">
        <div elem="content" class="contain">
          <h1>
            Продукты и проекты
          </h1>
          <div elem="filter">
            <button elem="button-filter" class="js-button-filter _is-active" type="button">
              <span>продукты</span>
              <i elem="button-filter-close"></i>
            </button>
            <button elem="button-filter" class="js-button-filter" type="button">
              <span>проекты</span>
              <i elem="button-filter-close"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div><!-- inner-header -->

  <div block="projects-block" mods="products-projects-page">
    <div elem="section">
      <div elem="inner" class="contain">
        <div elem="head">
          <h2>
            Приоритет: мировые рынки «интеллектуальной» продукции: электроника, ИТ, автоматизация, системы управления, робототехника
            и новые материалы.
          </h2>
        </div>
        <div elem="items">
          <div elem="item">
            <div block="project-thumb">
              <div elem="body">
                <a elem="img" href="#">
                  <img src="img/project-thumb-img.jpg" alt="">
                </a>
                <div elem="content">
                  <a elem="name" href="#">
                    Предприятие «Росэлектроники» и Санкт-Петербургский политех создадут научную лабораторию
                  </a>
                  <div elem="text">
                    НПО «Импульс»» и университет подписали соглашение о сотрудничестве в области научно-технических и
                    образовательных
                    проектов
                  </div>
                  <div elem="tags">
                    <a elem="tag" href="#"># авиация</a>
                  </div>
                </div>
              </div>
            </div><!-- project-thumb -->
          </div>
          <div elem="item">
            <div block="project-thumb">
              <div elem="body">
                <a elem="img" href="#">
                  <img src="img/project-thumb-img.jpg" alt="">
                </a>
                <div elem="content">
                  <a elem="name" href="#">
                    Предприятие «Росэлектроники» и Санкт-Петербургский политех создадут научную лабораторию
                  </a>
                  <div elem="text">
                    НПО «Импульс»» и университет подписали соглашение о сотрудничестве в области научно-технических и
                    образовательных
                    проектов
                  </div>
                  <div elem="tags">
                    <a elem="tag" href="#"># авиация</a>
                  </div>
                </div>
              </div>
            </div><!-- project-thumb -->
          </div>
          <div elem="item">
            <div block="project-thumb">
              <div elem="body">
                <a elem="img" href="#">
                  <img src="img/project-thumb-img.jpg" alt="">
                </a>
                <div elem="content">
                  <a elem="name" href="#">
                    Предприятие «Росэлектроники» и Санкт-Петербургский политех создадут научную лабораторию
                  </a>
                  <div elem="text">
                    НПО «Импульс»» и университет подписали соглашение о сотрудничестве в области научно-технических и
                    образовательных
                    проектов
                  </div>
                  <div elem="tags">
                    <a elem="tag" href="#"># авиация</a>
                  </div>
                </div>
              </div>
            </div><!-- project-thumb -->
          </div>
          <div elem="item">
            <div block="project-thumb">
              <div elem="body">
                <a elem="img" href="#">
                  <img src="img/project-thumb-img.jpg" alt="">
                </a>
                <div elem="content">
                  <a elem="name" href="#">
                    Предприятие «Росэлектроники» и Санкт-Петербургский политех создадут научную лабораторию
                  </a>
                  <div elem="text">
                    НПО «Импульс»» и университет подписали соглашение о сотрудничестве в области научно-технических и
                    образовательных
                    проектов
                  </div>
                  <div elem="tags">
                    <a elem="tag" href="#"># авиация</a>
                  </div>
                </div>
              </div>
            </div><!-- project-thumb -->
          </div>
          <div elem="item">
            <div block="project-thumb">
              <div elem="body">
                <a elem="img" href="#">
                  <img src="img/project-thumb-img.jpg" alt="">
                </a>
                <div elem="content">
                  <a elem="name" href="#">
                    Предприятие «Росэлектроники» и Санкт-Петербургский политех создадут научную лабораторию
                  </a>
                  <div elem="text">
                    НПО «Импульс»» и университет подписали соглашение о сотрудничестве в области научно-технических и
                    образовательных
                    проектов
                  </div>
                  <div elem="tags">
                    <a elem="tag" href="#"># авиация</a>
                  </div>
                </div>
              </div>
            </div><!-- project-thumb -->
          </div>
          <div elem="item">
            <div block="project-thumb">
              <div elem="body">
                <a elem="img" href="#">
                  <img src="img/project-thumb-img.jpg" alt="">
                </a>
                <div elem="content">
                  <a elem="name" href="#">
                    Предприятие «Росэлектроники» и Санкт-Петербургский политех создадут научную лабораторию
                  </a>
                  <div elem="text">
                    НПО «Импульс»» и университет подписали соглашение о сотрудничестве в области научно-технических и
                    образовательных
                    проектов
                  </div>
                  <div elem="tags">
                    <a elem="tag" href="#"># авиация</a>
                  </div>
                </div>
              </div>
            </div><!-- project-thumb -->
          </div>
        </div>
      </div>
    </div>
    <a elem="more" href="#">Подробнее о направлении</a>
  </div><!-- projects-block -->

  {% include "technology-block.html" %}
  
{% endblock %}
