.main-news
  padding-bottom: 100px
  position: relative
  z-index: 11

  &._is-show-news-calendar
    & ^[0]
      &__all
        opacity: 0
        visibility: hidden

  &--extra
    & ^[0]
      &__container
        display: flex

        > .main-news__item
          @media (min-width: 768px)
            display: block

      &__wrapper
        max-width: none
        width: 100%
        margin-left: 0
        margin-right: 0
        padding-right: 0
        padding-left: 0

        .swiper-button-prev
          left: 5px

          &:after
            width: 20px
            height: 20px
            background-size: contain;

        .swiper-button-next
          right: 95px

          &:after
            width: 20px
            height: 20px
            background-size: contain;

      &__slider
        overflow: hidden

        @media (min-width: 768px)
          margin-left: 30px

        .swiper-pagination
          @media (min-width: 768px)
            justify-content: flex-start
            padding-left: 155px

      &__items
        & ^[0]
          &__item
            &:first-child
              @media (min-width: 768px)
                display: none

  &__section
    width: 100%
    overflow: hidden
    padding-top: 40px

  &__inner
    max-width: 1320px + 25px + 25px
    width: 100%
    margin-left: auto
    margin-right: auto
    padding-right: 25px
    padding-left: 25px

  &__head
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 48px
    position: relative
    z-index: 5

  &__title
    display: flex
    align-items: center

    h2
      font-size: 48px
      color: #FFFFFF
      font-weight: 600
      line-height: 1.1
      letter-spacing: -0.64px
      margin: 0

      @media (max-width: 767px)
        font-size: 24px

      @media (max-width: 374px)
        font-size: 20px

  &__current-date
    font-size: 48px
    color: #FFFFFF
    font-weight: 600
    line-height: 1.1
    letter-spacing: -0.64px
    opacity: 0.3
    margin-left: 10px

    @media (max-width: 767px)
      font-size: 24px

    @media (max-width: 374px)
      font-size: 18px

    small
      font-size: 18px
      font-weight: 700
      line-height: 1
      vertical-align: top
      margin-left: 5px

      @media (max-width: 767px)
        font-size: 12px

  &__other-date
    flex: 0 0 21px
    max-width: 21px
    width: 21px
    height: 30px
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='30' viewBox='0 0 21 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 12L10.5 3L19 12' stroke='white' stroke-width='3'/%3E%3Cpath d='M2 19L10.5 27L19 19' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: 0 0
    background-size: contain
    margin-left: 15px
    transition: background 0.3s

    @media (max-width: 767px)
      flex: 0 0 16px
      max-width: 16px
      width: 16px
      height: 22px

    &:hover
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='30' viewBox='0 0 21 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 12L10.5 3L19 12' stroke='%23A39061' stroke-width='3'/%3E%3Cpath d='M2 19L10.5 27L19 19' stroke='%23A39061' stroke-width='3'/%3E%3C/svg%3E%0A")

  &__all
    font-size: 14px
    color: #FFF
    font-weight: 600
    line-height: 1.1
    letter-spacing: 1.6px
    text-transform: uppercase
    text-decoration: none
    padding: 5px 0
    // border-bottom: 3px solid #FFFFFF
    transition: color 0.3s, border-color 0.3s, opacity 0.3s

    &:hover
      color: #a39061
      // border-bottom-color: #A39061

    @media (max-width: 767px)
      font-size: 0
      flex: 0 0 4px
      max-width: 4px
      width: 4px
      height: 23px
      border: none
      background-image: url("data:image/svg+xml,%3Csvg width='4' height='23' viewBox='0 0 4 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='white'/%3E%3Ccircle cx='2' cy='12' r='2' fill='white'/%3E%3Ccircle cx='2' cy='21' r='2' fill='white'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-position: 0 0

  &__container
    display: flex

    > .main-news__item
      flex: 0 0 305px
      width: 305px
      max-width: 305px
      margin-right: 32px
      position: relative
      display: none

      &:after
        content: ''
        position: absolute
        top: 0
        right: -32px
        width: 1px
        height: 100%
        background-color: rgba(255, 255, 255, 0.2)

  &__wrapper
    max-width: 1320px + 25px + 25px
    width: 100%
    margin-left: auto
    margin-right: auto
    padding-right: 25px
    padding-left: 25px
    position: relative

    &:hover
      .swiper-button-prev, .swiper-button-next
        opacity: 1
        visibility: visible

    .swiper-button-prev
      left: -60px

      @media (max-width: 1599px)
        left: -20px

    .swiper-button-next
      right: -70px

      @media (max-width: 1599px)
        right: -20px

    .swiper-button-prev, .swiper-button-next
      opacity: 0
      visibility: hidden
      margin-top: -30px
      transition: opacity 0.3s, ease 0.3s

      @media (max-width: 1360px)
        display: none

      &:after
        content: ''
        width: 33px
        height: 34px
        background-image: url("data:image/svg+xml,%3Csvg width='33' height='34' viewBox='0 0 33 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.28571 17.6477L17.6089 1.32446' stroke='white' stroke-width='3'/%3E%3Cpath d='M17.6096 32.1038L1.28638 15.7805' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A")
        background-repeat: no-repeat
        background-position: 0 0

      &.swiper-button-disabled
        opacity: 0

    .swiper-button-next
      &:after
        transform: rotate(180deg)

  &__slider
    padding-bottom: 50px
    overflow: visible

    .swiper-pagination
      bottom: 0
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      padding-right: 15px
      padding-left: 15px

      @media (max-width: 413px)
        padding-left: 0

    .swiper-pagination-bullet
      background-color: transparent
      border-radius: 4px
      flex: 0 0 48px
      width: 48px
      max-width: 48px
      margin-right: 4px
      overflow: hidden
      opacity: 1
      padding-top: 15px
      padding-bottom: 15px
      position: relative

      &:after
        content: ''
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        width: 100%
        height: 3px
        background-color: rgba(16, 24, 32, 0.2)

      &:last-child
        margin-right: 0

      span
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        display: block
        width: 0
        height: 3px
        background-color: #101820

      &.swiper-pagination-bullet-active
        span
          animation-name: paginationProgressBar
          animation-duration: 5s
          animation-timing-function: ease-in
          animation-iteration-count: 1
          animation-direction: alternate
          animation-fill-mode: forwards

  &__item
    width: 305px

    @media (max-width: 374px)
      width: 280px

    @media (min-width: 375px) and (max-width: 767px)
      width: 330px

    .main-news-thumb
      @media (min-width: 375px) and (max-width: 767px)
        max-width: 100%

  @keyframes paginationProgressBar
    0%
      width: 0

    100%
      width: 100%