.media-news-single
  padding-top: 28px
  background-color: #F5F8FA

  @media (max-width: 959px)
    padding-top: 50px

  &--media
    & ^[0]
      &__info
        width: 100%

    .gallery
      max-width: 865px
      margin-right: auto
      margin-left: auto
      margin: 35px auto 0 auto
      background-color: #F5F8FA

      @media (max-width: 767px)
        margin-top: 20px

      .swiper-slide
        .slider-img
          height: auto
          border-radius: 4px
          overflow: hidden
          text-align: center
          position: relative
          cursor: pointer

          @media (max-width: 767px)
            height: auto

          img
            vertical-align: top
            object-fit: contain
            object-position: center center

          &:after
            content: ''
            position: absolute
            top: 8px
            right: 8px
            width: 24px
            height: 24px
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 11.5V18.5H12.5' stroke='white' stroke-width='3'/%3E%3Cpath d='M18.5 12.5L18.5 5.5L11.5 5.5' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A")

  &__links
    display: flex
    align-items: center
    margin-bottom: 80px

    @media (max-width: 959px)
      margin-bottom: 40px

    a
      font-size: 16px
      color: #101820
      font-weight: 400
      line-height: 1
      letter-spacing: 0.16px
      text-decoration: none
      margin-right: 5px
      transition: color 0.3s

      &:hover
        color: #a39061

    span
      font-size: 16px
      color: #101820
      font-weight: 400
      line-height: 1
      letter-spacing: 0.16px
      margin-right: 5px

  &__content
    display: flex

    @media (max-width: 767px)
      display: block
      margin-right: -25px
      margin-left: -25px

  &__date
    font-size: 12px
    color: #101820
    font-weight: 600
    line-height: 1
    letter-spacing: 1.6px
    text-transform: uppercase
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 15px
    border-top: 2px solid #101820
    margin-bottom: 20px

  &__info
    width: 50%
    margin-right: 30px

    @media (max-width: 767px)
      width: 100%
      padding-right: 25px
      padding-left: 25px

  &__img
    flex: 0 0 50%
    width: 50%
    max-width: 50%
    overflow: hidden

    @media (max-width: 767px)
      width: 100%
      max-width: 100%
      height: 400px

    @media (max-width: 639px)
      height: 300px

    img
      width: 100%
      height: 100%
      vertical-align: top
      object-fit: cover
      transition: transform 1s, ease 1s

  a.media-news-single__img
    &:hover
      img
        transform: scale(1.2)

  &__name
    font-size: 64px
    color: #101820
    font-weight: 700
    line-height: 0.9
    letter-spacing: -0.64px
    margin-top: 0
    margin-bottom: 32px
    display: block
    transition: color 0.3s

    @media (max-width: 959px)
      font-size: 46px

    @media (max-width: 639px)
      font-size: 36px

  a.media-news-single__name
    text-decoration: none

    &:hover
      color: #a39061

  &__tags
    display: flex
    align-items: center
    flex-wrap: wrap

    @media (max-width: 767px)
      margin-bottom: 15px

  &__tag
    font-size: 12px
    color: #101820
    font-weight: 600
    line-height: 1.1
    letter-spacing: 1.6px
    text-transform: uppercase
    text-decoration: none
    margin-right: 15px
    margin-bottom: 15px
    transition: color 0.3s

    @media (max-width: 639px)
      margin-bottom: 8px

    &:hover
      color: #a39061

    &:last-child
      margin-right: 0

  &__more
    font-size: 20px
    color: #A39061
    font-weight: 600
    line-height: 1.1
    letter-spacing: 0.01em
    text-align: center
    text-decoration: none
    width: 100%
    margin-top: 95px
    padding: 27px 20px
    display: block
    background-color: #fff
    transition: color 0.3s, background-color 0.3s

    @media (max-width: 1023px)
      padding-top: 14px
      padding-bottom: 14px

    @media (max-width: 767px)
      font-size: 16px
      padding-top: 20px
      padding-bottom: 20px
      margin-top: 50px

    &:hover
      color: #fff
      background-color: #A39061